[2020-11-04 15:34] chrisdavidmills commented on #3848
@ramiy I'll have to do this another day. In the current wiki system, moving pages takes a long time; moving the other 53  function pages and all their translations would take a godo few hours.

This is one reason why I am so excited about Yari! ;-)

[2020-11-04 19:12] caraya commented on #3221
@chrisdavidmills I would like to tackle this one

[2020-11-04 19:15] chrisdavidmills commented on #3221
@caraya you are assigned; thanks for helping out!

[2020-11-04 19:35] caraya commented on #3221
In reviewing the file there are a lot of issues that will require discussion and full re-writes and probably discussion on what needs to go in this article.

For example, the sample .htaccess file (https://wiki.developer.mozilla.org/en/Sample_.htaccess_file) is not really a .htaccess file but a discussion on what can go into one.  Should we write a full .htaccess file or just concentrate on mime t

[2020-11-04 21:17] chrisdavidmills commented on #3221
That is fair enough, @caraya . Some of our articles have gone rather out of date.

I would provide a full sample .htaccess file, which shows the most important things you should include, and then describe what each bit does, why it is important, etc. The current state of things is a bit misleading.

Probably a good idea, with NGINX being increasing popular.

No. Sounds out of date to me.

Yes, tha

[2020-11-04 23:32] scramjet opened #3861 "Page formatting directives being displayed in EventTarget API doc"
# Request type
- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

Page formatting directives like `{{ApiRef("DOM Events")}}` are showing in this page.

https://developer.mozilla.org/en-US/docs/Web/API/EventTarget

[2020-11-05 05:19] Jxck commented on #3257
Thanks. Please do that, I'll follow you.

[2020-11-05 09:56] chrisdavidmills commented on #3861
I can't reproduce this; can you try Shift + Reloading, and seeing if you still get the issue?

[2020-11-05 11:10] prosovskyf commented on #3807
please assign. Thanks

[2020-11-05 11:10] prosovskyf commented on #3690
please assign. Thanks

[2020-11-05 11:13] chrisdavidmills commented on #3807
@prosovskyf assigned. Thanks for your interest in working on this!

[2020-11-05 11:14] chrisdavidmills commented on #3690
@prosovskyf assigned. Thanks for your interest in working on this!

[2020-11-05 11:38] chrisdavidmills commented on #3799
@Rumyra all looks good to me.

So the final thing to do then is go to the bugs listed at the top of the issue, set the "dev-doc-needed" keyword to "dev-doc-complete", and add a comment saying that the documentation is complete, and state what you did. You cna just link to this issue if you like, rather than repeating yourself.

[2020-11-05 12:14] chrisdavidmills commented on #3836
Thanks @rachelandrew , these look great.

I've given them a copy edit and made a few tweaks. The only two comments I had are:

1. In the `masonry-auto-flow` live example, you used an inline event handler attribute to attach the JavaScript to the `<select>` element. This is generally not seen as a good practice, and the MDN guidelines recommend usage of `addEventListener()`, so I've updated it.
2.

[2020-11-05 12:29] chrisdavidmills commented on #2052
These look good, thanks @rachelandrew !

I think we can close this one now.

[2020-11-05 12:29] #2052 closed

[2020-11-05 13:01] chrisdavidmills commented on #3848
New function pages moved today:

* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function/blur()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function/brightness()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/clamp()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/conic-gradient()

(I'm going to try to do a few each day until they are all moved).

[2020-11-05 14:00] meatnordrink opened #3862 "Unclear what other tasks can execute during `await`"
# Request type
 [ ] Correction or update

# Details

* **Page:** https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await

* **Issue:** Lack of clarity around the concept of "other code" being able to execute while `await` is pausing execution of your code.

* **Explanation:**
Several times in the (wonderful) async/await article, it's mentioned that "other code" may execu

[2020-11-05 14:29] prosovskyf commented on #3862
It is confusing. Would be worth rewrite and show it on example with explanation.
It does not pause your code, it just delegate the task to process on its own without interrupting code which is being run. Also with a word "blocked". Code is not blocked, it is processing elsewhere and JS will pick it up once finished.
@chrisdavidmills let me know if I understand it correctly and if so please assign

[2020-11-05 15:00] Rumyra commented on #3094
I'm unable to find the referenced text within the Intersection Observer docs - the page mentioned is https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API and I can't find it there or on any member pages.

Would someone be able to confirm the url of the page, or infact this issue has been resolved - thanks

[2020-11-05 15:32] Rumyra commented on #3500
@chrisdavidmills

[2020-11-05 15:38] choyg commented on #3094
Looks like that page got updated. It used to be part of the ['Thresholds' section](https://web.archive.org/web/20200413103435/https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API).

Current version:

[2020-11-05 15:51] Rumyra commented on #3094
Brill thank you @choyg - I'll go ahead and close it 👍

[2020-11-05 15:51] #3094 closed

[2020-11-05 16:25] bitvalue opened #3863 "https://developer.mozilla.org/ja/docs/Web/API/Window/scrollBy"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

https://developer.mozilla.org/ja/docs/Web/API/Window/scrollBy

I'm not sure, if it's typo or not.
[code]
I think in Syntax section of scrollBy page
`window.scrollTo(options)` should be
`window.scrollBy(options)` .

[2020-11-05 17:06] chrisdavidmills commented on #3863
Yup, a typo; fixed!

[2020-11-05 17:06] #3863 closed

[2020-11-05 17:10] rachelandrew commented on #3836
@chrisdavidmills so that `masonry-auto-flow` example I edited the `grid-auto-flow` example as it made sense to have them consistent. So that has the same issue: https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-flow

Maybe other grid ones do too, I could hunt them down while doing the gap changes to all the pages.

2. They shouldn't if you are in Nightly with the flag enabled at leas

[2020-11-05 17:32] chrisdavidmills commented on #3500
I've set the bug to dev-doc-complete, and asked for a review.

[2020-11-05 17:32] #3500 closed

[2020-11-05 17:39] #3497 closed

[2020-11-05 17:44] chrisdavidmills commented on #3803
OK, I think we can close this one now.

[2020-11-05 17:44] #3803 closed

[2020-11-05 17:47] chrisdavidmills commented on #3802
Hi @rachelandrew ! Did you get round to doing the BCD for the `[rel=icon]` stuff?

[2020-11-05 17:48] chrisdavidmills commented on #3804
@hamishwillee there are a couple of outstanding bits here, I believe. Can you finish them off?

[2020-11-05 17:49] rachelandrew commented on #3802
@chrisdavidmills ah sorry, I think I lost track of this, I'll do it tomorrow.

[2020-11-05 17:51] chrisdavidmills commented on #3801
BCD was approved and merged, and I've set the bug to dev-doc-complete. This can be closed.

[2020-11-05 17:51] #3801 closed

[2020-11-05 17:52] MendyBerger commented on #2858
I removed the constructors from these classes all together since they were empty anyway, and the [default constructor](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/constructor#Description) does call super, which fixes this issue

[2020-11-05 18:24] chrisdavidmills commented on #2858
Thanks @MendyBerger ! I think this fixes the issue, so closing now, but please jump in @senocular if you think anything else is needed here.

[2020-11-05 18:24] #2858 closed

[2020-11-05 22:16] hamishwillee commented on #3804
@chrisdavidmills The docs are all done except for the release note. BUT right now this is not in release 83 - ie the origin bug is still open.

 I'll ask if this is going in - but presumably if not we just push this whole item to become misc updates for firefox 84?

[2020-11-05 22:48] hamishwillee commented on #3853
Cool. Done. Update as discussed at https://wiki.developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy#How_to_allow_cross-origin_access

[2020-11-05 22:48] #3853 closed

[2020-11-05 23:36] hamishwillee commented on #3202
Great! FYI, I updated the [content negotiation page](https://wiki.developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation) (see [patch here](https://wiki.developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation$compare?locale=en-US&to=1652318&from=1634095) to note that a server might respond with the header(s) if it can't supply the requested resource (ie expand a _little_ on actual fal

[2020-11-05 23:54] hamishwillee opened #3864 "HTTP > HTTP caching: Revalidate against spec and subedit"
## URL(s)

[Web technology for developers >  HTTP > HTTP caching](https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching )

## Request type

- [ ] New documentation
- [x] Correction or update

## Details

- Add docs for `s-max-age` (missing)
- Re-validation whole page against the spec to verify that nothing is missing.
- Subedit for English ("correct" but parts are not particularly readable for

[2020-11-05 23:57] scramjet commented on #3861
It's all good now. Apparently a transient glitch. Thanks for looking into it.

[2020-11-05 23:57] #3861 closed

[2020-11-06 00:10] hamishwillee commented on #3257
Thanks @Jxck.
- I updated doc to split this the information about heuristic approaches to freshness checking into its own section as discussed: https://wiki.developer.mozilla.org/en-US/docs/Web/HTTP/Caching#Heuristic_freshness_checking (item 3 above). FYI @chrisdavidmills

- Issue https://github.com/mdn/sprints/issues/3864 created to track future spec update/subedit.

Closing this now as discussed

[2020-11-06 00:10] #3257 closed

[2020-11-06 00:57] lookfirst opened #3865 "https://developer.mozilla.org/en-US/docs/Web/API/NavigatorOnLine/onLine"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details
The live example is 404

http://html5-demos.appspot.com/static/navigator.onLine.html

[2020-11-06 02:29] masayuki-nakano commented on #3799
Could you add an example of feature detection for `beforeinput`? Since Blink has not implemented `onbeforeinput` attribute yet, checking `InputEvent.getTargetRanges` is the only way to detect it (it's available only with `beforeinput`).  So, there should be something like:
[code]

[2020-11-06 07:25] visdajpal commented on #3858
I think it should be "1900 and 1999" in full

[2020-11-06 08:11] chrisdavidmills commented on #3804
@hamishwillee OK, for now let's assume it isn't being enabled in 83, and:

* Not add a release note
* Make sure it is covered in the Experimental features page
* Add notes to anywhere it is mentioned to say that it is currently supported behind a pref in Firefox (pref details at https://bugzilla.mozilla.org/show_bug.cgi?id=1625363), and will hopefully be enabled by default shortly.

Then I think w

[2020-11-06 08:24] mattiapontonio commented on #3840
Can We male a note about do not change display and wrap in a container for the responsive feature.
I have investigated this issue before. I appreciate but do not like the "vertical display" solution because of tables borns for comparing rows.
So i think wrapping Is a good solution.
For the buttons of course It Is right to use a button for funtionalities.

Responsive
https://www.w3schools.com/howto

[2020-11-06 08:26] chrisdavidmills commented on #3799
Thanks for the review, @masayuki-nakano !

@Rumyra can you handle this one please?

[2020-11-06 08:41] daleharvey commented on #3856
Yeh its going to help people who copy and paste the code not have it broken straight away. I am not certain its a great code example to depend on formatting like that but thats definitely a more subjective opinion than a bug

[2020-11-06 08:41] #3856 closed

[2020-11-06 08:49] rachelandrew opened #3866 "rel=preload / prefetch etc probably shouldn't be marked as experimental"
## URL(s)

https://wiki.developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel

## Request type

- [ ] New documentation
- [ x ] Correction or update

## Details

Working on an update for rel=icon for https://github.com/mdn/sprints/issues/3802 and noticed that the BCD has a lot of stuff marked as experimental that I don't think should be considered experimental at this point. I haven't been thro

[2020-11-06 09:06] chrisdavidmills commented on #3865
@lookfirst Thanks for pointing it out. I've just removed the link for now.

[2020-11-06 09:06] #3865 closed

[2020-11-06 09:19] rachelandrew commented on #3802
@chrisdavidmills ok have added a note and also updated BCD. Raised another issue about these various link rel values as it's all a bit untidy, I think there is probably quite a rabbit hole there.

[2020-11-06 09:24] chrisdavidmills commented on #3802
Looks good for now though; I think we can close this one.

The rel notes look good too: https://developer.mozilla.org/en-US/docs/Mozilla/Firefox/Releases/83#HTML

[2020-11-06 09:24] #3802 closed

[2020-11-06 09:39] chrisdavidmills commented on #3836
I've changed the one that you cite above, but yes, that'd be good, thanks!

Hrm, interesting. I'm not sure if this is worth spending a tonne of time on now, especially if it is buggy anyway.

Is there anything else you'd like to do here? If not, you can feel free to close this one.

[2020-11-06 09:45] rachelandrew commented on #3836
I think this is probably as much as we need for now, this is something I'll be keeping close tabs on anyway so as things evolve I can go tweak the pages.

[2020-11-06 09:45] #3836 closed

[2020-11-06 11:06] jadjoubran commented on #2040
Hey @fabio-sassi
The reason why in your code you see the console log from the `.then()` callback is because it's a microtask
Whereas the setTimeout is queuing it into the task queues
But the microtask will run almost asap whenever possible, I'd definitely recommend watching this talk (you can start from the timecode I specified in the link) to better understand the concept: https://youtu.be/cCOL7M

[2020-11-06 11:07] jadjoubran commented on #2040
@chrisdavidmills do you think we should close the issue or would you like to have some update for the docs?

[2020-11-06 11:34] chrisdavidmills commented on #2040
@jadjoubran thanks for looking into this Jad. I think it'd be nice to offer a bit more explanation of this, as there is a lot of misunderstanding here.

[2020-11-06 13:31] Rumyra commented on #3500
Oh brill - thanks so much @chrisdavidmills !

[2020-11-06 14:32] Rumyra commented on #3799
Picking this up now @chrisdavidmills - re our discussion yesterday, this page https://wiki.developer.mozilla.org/en-US/docs/Web/API/HTMLElement does not contain a subpage for `onbeforeinput` as a property and from what I can tell one doesn't exist. Can you confirm and I shall add

@masayuki-nakano thank you - just to confirm the `onbeforeinput` handler has not been implemented, but the `beforeinpu

[2020-11-06 15:12] Rumyra commented on #3823
Thanks all 👍

@chrisdavidmills you can find a PR here https://github.com/mdn/dom-examples/pull/73

[2020-11-06 15:23] Rumyra commented on #3365
As per the specification there is no indication a boolean param is allowed to be passed into the `reload()` method... see https://html.spec.whatwg.org/multipage/history.html#location and https://html.spec.whatwg.org/multipage/history.html#dom-location-reload

The text mentioned is also not apparent on the landing page - seems it was updated on Jul 7th https://wiki.developer.mozilla.org/en-US/docs/

[2020-11-06 15:23] #3365 closed

[2020-11-06 17:00] rachelandrew commented on #1973
@chrisdavidmills BCD is now showing up for this one

[2020-11-06 17:02] rachelandrew commented on #2051
@chrisdavidmills BCD updated for these now.

[2020-11-07 00:25] masayuki-nakano commented on #3799
Gecko and WebKit supports `onbeforeinput`, but Blink does not.
https://bugs.chromium.org/p/chromium/issues/detail?id=947408

`getTargetRanges` returns meaningful result only when `beforeinput` event. Therefore, it's enabled only when `beforeinput` event is enabled by the pref on Gecko so that it can be used for feature detection.

[2020-11-07 00:35] houghtonap opened #3867 "Missing Async Generator Function Documentation"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [x] New documentation
- [ ] Correction or update

# Details

There is documentation for function*, in the Reference under the Statements section in the Function and Classes box, and there is documentation for async function, in the Reference under the Statements section in the Function and Class

[2020-11-08 01:39] mikoMK commented on #2853
Verified and corrected in MDN

[2020-11-08 01:48] mikoMK commented on #3337
@chrisdavidmills I think you didn't receive the notification from the above comment, because I added the @mention in a later edit. If I'm wrong I apologize for the double mention 😅

[2020-11-08 02:50] mikoMK commented on #3826
Another user has already reverted the wrong revision on October 29. The page shows the correct content again.
@chrisdavidmills This issue can be closed.

[2020-11-08 03:19] mikoMK commented on #3811
@chrisdavidmills
Duplicate of #3826

[2020-11-08 04:19] Figat opened #3868 "https://wiki.developer.mozilla.org/en-US/docs/Web"
# Request type

- [x] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

[2020-11-08 05:51] MendyBerger commented on #2911
This seems to be fixed already.

https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/toString$revision/1629396

[2020-11-08 11:46] eltomito opened #3869 "https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API"
# Request type

- [x] Correction or update

# Details

It's a factual error in the docs.
Under the "WebVTT cues" heading, it says:
- - -
A cue consists of five components:

- An optional cue identifier followed by a newline.
- Cue timings.
- Optional cue settings with at least one space before the first and between each setting.
- One **or more** newlines.
- The cue payload text.
- - -
The problem

[2020-11-08 11:46] eltomito opened #3870 "https://developer.mozilla.org/en-US/docs/Web/API/WebVTT_API"
# Request type

- [x] Correction or update

# Details

It's a factual error in the docs.
Under the "WebVTT cues" heading, it says:
- - -
A cue consists of five components:

- An optional cue identifier followed by a newline.
- Cue timings.
- Optional cue settings with at least one space before the first and between each setting.
- One **or more** newlines.
- The cue payload text.
- - -
The problem

[2020-11-08 12:39] chrisdavidmills commented on #3826
Great stuff; thanks @mikoMK !

[2020-11-08 12:39] #3826 closed

[2020-11-08 12:41] #3868 closed

[2020-11-08 12:42] chrisdavidmills commented on #3811
Closing, thanks!

[2020-11-08 12:42] #3811 closed

[2020-11-08 12:52] chrisdavidmills commented on #2853
@mikoMK looks great, thanks!

Closing.

[2020-11-08 12:52] #2853 closed

[2020-11-08 12:53] chrisdavidmills commented on #3337
Looks like a good resolution, thanks @mikoMK . And no worries on the double mention ;-)

[2020-11-08 12:53] #3337 closed

[2020-11-08 13:54] Prerna237 commented on #3809
@chrisdavidmills : Hi! I can pick this up.

[2020-11-08 15:01] chrisdavidmills commented on #3809
@Prerna237 great, thanks! I've assigned it.

[2020-11-08 17:02] MendyBerger commented on #2911
Looks like this was fixed already.

https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/toString$revision/1629396

[2020-11-08 17:07] MendyBerger commented on #3259
Think that this can be closed, looks like it was taken care of in `mdn/browser-compat-data` already.

[2020-11-08 17:59] MendyBerger commented on #3870
Updated to "A single newline."

[2020-11-08 17:59] MendyBerger commented on #3869
Duplicate #3870

[2020-11-08 18:13] chrisdavidmills commented on #3259
Yup, I'll close this now. We will track finishing off the documentation in https://bugzilla.mozilla.org/show_bug.cgi?id=1654116

[2020-11-08 18:13] #3259 closed

[2020-11-08 18:15] chrisdavidmills commented on #2911
@MendyBerger yup, looks like this was fixed indeed. Thanks!

[2020-11-08 18:15] #2911 closed

[2020-11-08 18:18] #3869 closed

[2020-11-08 18:18] chrisdavidmills commented on #3870
Fix verified, and dupe closed. Thanks @MendyBerger !

[2020-11-08 18:18] #3870 closed

[2020-11-08 21:28] ramiy commented on #3644
https://github.com/mdn/browser-compat-data/pull/7318

[2020-11-08 21:29] #3644 closed

[2020-11-08 21:36] ramiy opened #3871 "Create new page for "@property" at-rule"
## URL(s)

https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/@propery

## Request type

- [x] New documentation
- [ ] Correction or update

## Details

* https://developers.google.com/web/updates/2020/08/nic85#css-properties
* https://web.dev/at-property/
* https://wiki.developer.mozilla.org/en-US/docs/Web/API/CSS_Properties_and_Values_API

[2020-11-08 22:31] hamishwillee commented on #3804
@chrisdavidmills Thanks. FWIW most of this was already done, but I went though and made some minor "touch ups". Also added a link from the bug page to this issue to help future documenters. Closing this now :-)

[2020-11-08 22:31] #3804 closed

[2020-11-08 23:19] hamishwillee commented on #2914
The section in question was modified to correct this issue

[2020-11-08 23:49] #2914 closed

[2020-11-09 00:09] hamishwillee opened #3872 "Missing HTTP header-specific pages (known)"
## URL(s)

- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers
- https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS - broken link to "Downlink"
- https://developer.mozilla.org/en-US/docs/Glossary/Client_hints

## Request type

- [ ] New documentation
- [ ] Correction or update

## Details
There are many missing HTTP header pages - as linked from URLs above. In some cases there have par

[2020-11-09 00:25] YagneshP opened #3873 "Raising issue for the colon is used for **Three-value syntax** is bolder than the other two titles on MDN doc"
## URL(s)

[Flex-Css](https://developer.mozilla.org/en-US/docs/Web/CSS/flex)

## Request type

- [ ] New documentation
- [x] Correction or update

## Details

the colon is used for **Three-value syntax** is bolder than the other two titles.

![MDN-Flex-issue](https://user-images.githubusercontent.com/29221654/98488217-e2c1fc00-21f5-11eb-919b-f9ef221e6b42.PNG)

## Solution
[code]

[2020-11-09 00:29] hamishwillee commented on #2487
This appears to have been fixed:
-"... code part is "Ping-Other", but the text part and the picture are "X-PINGOHTHER"." - not present
- "text and code section is "application / xml", and the picture is "text / xml". - both picture and text now say "text /xml".

Thanks!

[2020-11-09 00:29] #2487 closed

[2020-11-09 00:54] hamishwillee commented on #2618
Thanks. Fixed.

[2020-11-09 00:54] #2618 closed

[2020-11-09 01:08] hamishwillee commented on #3873
Thanks @YagneshP - I've fixed this one. For trivial typographic/layout errors like this, please feel free to make the change yourself directly in the wiki. Probably easier for you than posting the issue :-)

[2020-11-09 01:08] #3873 closed

[2020-11-09 03:12] hamishwillee commented on #3595
Thanks. This has been fixed/tidied in the identified places.

[2020-11-09 03:12] #3595 closed

[2020-11-09 04:19] hamishwillee commented on #995
@chrisdavidmills Good catch. Yes, the name directive is _required_. Essentially the Content-Disposition is used to provide information about each of the fields in the form, and is how the recipient knows which field the data is relevant too. Every part must have _at least_ `Content-Disposition: form-data; name="fieldName"`. Further (FYI) a field might carry multiple files; each would have the same

[2020-11-09 05:14] hamishwillee commented on #845
This issue was posted some time ago, and it is quite possible that this was fixed in the interim.  As is it looks now I do not see any problem with the document with respect to the use of the `Origin` and `Access-Control-Allow-Origin` headers (though I did make some minor modifications to make it even more clear).

Essentially the [first example](https://wiki.developer.mozilla.org/en-US/docs/Web/H

[2020-11-09 05:14] #845 closed

[2020-11-09 08:30] chrisdavidmills commented on #3871
Setting this as a 1 hour task; need to confirm that there's someone to create the page content after the new page is created.

[2020-11-09 08:34] jadjoubran commented on #3632
Hey @chrisdavidmills would it be possible to look at the PR above so I can continue this task? Thanks!

[2020-11-09 08:38] chrisdavidmills commented on #3632
@jadjoubran yup, done, and merged.

[2020-11-09 09:29] chrisdavidmills commented on #2051
@rachelandrew great! Let's close it.

[2020-11-09 09:29] #2051 closed

[2020-11-09 09:33] chrisdavidmills commented on #1973
Great stuff; closing.

[2020-11-09 09:33] #1973 closed

[2020-11-09 09:44] chrisdavidmills commented on #3840
Thanks for looking into this @mattiapontonio . I've hidden the examples for now, but you'll still see them in the page source.

Sounds like the change for the sortable tables should be fairly easy. I'm not so sure about the large table in small space solution.

[2020-11-09 09:50] mattiapontonio commented on #3840
Is ok to put buttons in tables standard speaking? I've to check in validator.

[2020-11-09 10:05] chrisdavidmills commented on #3840
@mattiapontonio I don't know, I'm afraid.

[2020-11-09 10:12] chrisdavidmills commented on #3823
Thanks @Rumyra ! I've merged your PR, and updated the code snippet shown in the article as appropriate. The example works nicely on Chrome and Fx, so I think this one cna now be closed.

[2020-11-09 10:12] #3823 closed

[2020-11-09 10:19] rachelandrew commented on #3723
@chrisdavidmills hmm ... so I moved `fit-content` to `fit-content()` but still can't create a new page at `fit-content`, I assume that's because there is a redirect now in place? I've got all the content, just can't make the page.

[2020-11-09 10:23] chrisdavidmills commented on #3848
New function pages moved today:

* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/counter()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/counters()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function/contrast()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/cross-fade()

[2020-11-09 10:27] hamishwillee commented on #3573
@chrisdavidmills I've updated this, can you please review.

Bit of a challenge to get the right level. Essentially I've done a few paragraphs to explain that the CA validates the content is accurate, what the content is, that it allows browsers to verify website identify and securely connect over SSL.

The most important bit is probably the link at the end to the Wikipedia page on Public Key infra

[2020-11-09 10:32] rachelandrew commented on #3723
oh, although it said it had been moved (I have the email) it's still redirecting to https://developer.mozilla.org/en-US/docs/Web/CSS/fit-content

[2020-11-09 10:34] chrisdavidmills commented on #3723
@rachelandrew yeah, I was hoping to move the content of `/fit-content` to `/fit-content()`, not move the page, as then you get exactly the problem you are now experiencing. I've just tried moving the page back to `/fit-content`, in the hope that this would un-create the redirect, but it doesn't. `/fit-content()` now redirects back to `/fit-content`.

I think we'll need an MDN dev to help put this

[2020-11-09 10:35] rachelandrew commented on #3723
ah I see, I thought I could just move the page, then make a new page. Sorry if I've made a mess.

[2020-11-09 10:43] chrisdavidmills commented on #3573
@hamishwillee I'm by no means an expert in this stuff, but it certainly makes a lot more sense now. I've just tweaked a couple of bits of langauge, and I think this cna be closed now.

[2020-11-09 10:43] #3573 closed

[2020-11-09 10:44] chrisdavidmills commented on #3723
@rachelandrew no worries at all; it is all pretty confusing and non-obvious. I think we'll be able to get this sorted.

[2020-11-09 11:16] ramiy commented on #3871
@chrisdavidmills I will write the content.

[2020-11-09 11:26] chrisdavidmills commented on #3871
@ramiy ok, I've assigned you, thanks for taking this.

I've created the new https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/@property page.

[2020-11-09 12:15] ramiy commented on #3871
@chrisdavidmills Done. I just need your help with the **Formal Syntax**. Where do I set the syntax generated by **{{csssyntax}}**?

[2020-11-09 12:33] chrisdavidmills commented on #3871
@ramiy thanks a lot, this looks pretty good.

The content that generates the formal syntax is the relevant entry in the https://github.com/mdn/data repo. You'll have to make sure that `@property` has an entry in there.

[2020-11-09 13:24] jadjoubran commented on #3632
Thanks @chrisdavidmills
I'm still having issues implementing it because this is a GHLiveSample and in the **preview** all the live samples don't load
Would this work?
![Screenshot 2020-11-09 at 14 23 37](https://user-images.githubusercontent.com/2265232/98546559-2caeee80-2297-11eb-910f-d8a485587d6d.png)
I tried setting the src to `{{EmbedGHLiveSample("css-examples/placeholder-images/placeholder-10

[2020-11-09 13:40] jadjoubran commented on #2040
Sure thing, I just added a section on Task queues vs microtasks with a refactored example from @fabio-sassi (Thank you!) and linked to the MDN Tasks vs microtasks page.

https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Using_promises#Task_queues_vs_microtask

It would be wise to get a quick technical review on what I authored in case I made a mistake.

[2020-11-09 14:03] ramiy commented on #3871
Ok, I've add the formal syntax in https://github.com/mdn/data/pull/438 based on https://drafts.css-houdini.org/css-properties-values-api-1/#at-property-rule

[2020-11-09 14:13] mikoMK commented on #2705
@chrisdavidmills Could you assign me to this issue? I'm interested in contributing to the interactive example. I think it would be best to update the interactive example to reflect the semantics of the spec example as quoted by @Glenn-Domin. Any thoughts?

[2020-11-09 14:49] chrisdavidmills commented on #2705
@mikoMK yeah, I think this makes sense.

I'll assign you; thanks for all the help!

[2020-11-09 15:02] chrisdavidmills commented on #2040
@jadjoubran looks good, thanks! @fabio-sassi , what do you think?

[2020-11-09 15:23] chrisdavidmills commented on #3632
@jadjoubran ah, I see what's going on here! So the `EmbedGHLiveSample` macro only works for embedding complete examples into the page via an IFrame — it needs to point to the index HTML file of an example.

I've created new versions of these examples in the repo, and then embedded them on the page.

[2020-11-09 15:44] Jxck commented on #3864
I also wanna check and update below.

in [no-store directive section](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#Directives
) says

What is the evidence for here ? [RFC7234](https://tools.ietf.org/html/rfc7234) seems not mentioning such a thing.

[2020-11-09 16:23] #3871 closed

[2020-11-09 16:32] theemathas opened #3874 "Iteration protocol doesn't mention the return() method."
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [x] New documentation
- [ ] Correction or update

# Details

The [iteration protocol](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols) page does not mention the [return() method](https://stackoverflow.com/questions/42380087/how-does-break-work-in-for-of-loop

[2020-11-09 16:40] ramiy commented on #3871
@chrisdavidmills I've also added descriptors at https://github.com/mdn/data/pull/439

[2020-11-09 17:43] zbrogz opened #3875 "Incorrect description for the radio input checked attribute"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The description for the radio input `checked` attribute is slightly off: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio#checked

Currently it says (emphasis added):

Per the [HTML spec](https://html.spec.whatwg.o

[2020-11-09 18:03] mpcsh opened #3876 "Create pages for Intl.Segmenter"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [x] New documentation
- [ ] Correction or update

# Details

I'm working on documenting the `Intl.Segmenter` API and need several pages created. The following should be under the slug `en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Segmenter`:
* `/supportedLocalesOf`
* `/segment`
* `/re

[2020-11-09 18:27] jadjoubran commented on #3632
Ah makes sense
The issue should be done now 👍

[2020-11-09 18:31] chrisdavidmills commented on #3632
Cool, let's close.

[2020-11-09 18:31] #3632 closed

[2020-11-09 22:23] escattone commented on #3723
@chrisdavidmills @rachelandrew Done! I removed the content-based redirect command within https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/fit-content(), so now it's basically an empty page, and ready for whatever you'd like to add.

[2020-11-09 23:00] hamishwillee commented on #3876
@mpcsh Awesome. Not done this before, so hope these work for you:
- https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Segmenter/supportedLocalesOf

[2020-11-09 23:44] hamishwillee commented on #3864
@Jxck Can you please create specific issues for specific problems. This post is for a general revalidation - easy for a specific question hidden in an issue like this to get missed.

With respect to your question though,
- If `no-store` is set then there can be no cache record, so "Setting must-revalidate does not make sense" is correct - how can you revalidate something that isn't present in the

[2020-11-10 01:17] Jxck opened #3877 "docs/Web/HTTP/Headers/Cache-Control#Directives needs updates"
## URL(s)

## Request type

- [ ] Correction or update

## Details

[in no-store directive section](https://wiki.developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#Directives) says

What is the evidence for here ? RFC7234 seems not mentioning such a thing.

forked from #3864

[2020-11-10 01:19] Jxck commented on #3864
Oh, I misunderstood that problem around cache section should gathered in here.
I opened new issue in #3877

[2020-11-10 01:20] Jxck commented on #3877
[Initial Response](https://github.com/mdn/sprints/issues/3864#issuecomment-724351051) from @hamishwillee

However "max-age=0 is already implied." is not correct as what this directive does is set when the entry goes stale - but how can an entry go stale when it isn't present?

[2020-11-10 01:24] hamishwillee commented on #3637
Fair enough. This limitation of changing origin for web APIs is widely reported, but I can't find any specific reason for it, or any list of which APIs are affected. As `document.domain` is _deprecated_ I don't think it is worth following up in detail exactly what works or does not and why (though I _suspect_ that it is just that given the API is known to have holes, it simply isn't being updated

[2020-11-10 01:28] hamishwillee commented on #3864
No worries. I have deleted my response, and will delete this and your comment shortly :-) Thanks very much.

[2020-11-10 01:44] Jxck commented on #3877
@hamishwillee

IIUC, `no-store` for Response works like that. but `no-store` on Request is not.
If Request has `no-store` it means that "do not store this request and correspond response in any cache". But this is not specified behavior of revalidation, so if cache storage stores previous response, that can be Reuse for `no-store` request.
So if you also wanna Revalidate, set `must-revalidate` in

[2020-11-10 03:51] hamishwillee commented on #2967
Agreed  and fixed:
- removed `origin` with `Content-Type` in `Access-Control-Request-Headers` and also added `Access-Control-Allow-Headers` with same values in the response.
- Slight subedit to fix some of the other wording and make it clear in the introduction  that safelisted headers don't need to be listed (it is also mentioned further down but IMO important enough to have at top). [Changes her

[2020-11-10 03:51] hamishwillee commented on #2967
@chrisdavidmills Sanity check welcome, otherwise I'll review and close this next time I look at the issue.

[2020-11-10 05:22] hamishwillee commented on #3877
@Jxck Thanks. Really appreciate the discussion - this all very confusing.

There are two cases to think about here. The first is the case where you set `no-store` on a request and there is no cached response. In this case neither the request or response are cached, and any other directive makes no sense because nothing is stored.

The second case is that you have a request with `no-store` that is

[2020-11-10 05:41] hamishwillee commented on #1963
Closing as "someone has already done the work".

The [current version of the documentation](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400) is up to date with the [spec](https://tools.ietf.org/html/rfc7231#section-6.5.1) (there is an line that was removed in the new spec which is still true, and which I am leaving: *The client should not repeat this request without modification*).

[2020-11-10 05:41] #1963 closed

[2020-11-10 05:54] hamishwillee commented on #2616
@XuHe1 This case is actually mentioned in the [spec](https://tools.ietf.org/html/rfc7231#section-4.3.1):

This is much the same as saying "a GET request that has a body doesn't have any sensible meaning, so we haven't defined it. As a result, some systems will allow this and others won't.".

To my mind the docs saying `Request has body=no` is correct. I don't _think_ we should add a note about thi

[2020-11-10 05:54] #2616 closed

[2020-11-10 06:02] hamishwillee commented on #2616
@chrisdavidmills FYI, I was in two minds about adding the note - some people would argue that saying you shouldn't send data in a GET request as per the sentence above is enough. If you think we should remove it let me know.

[2020-11-10 06:39] hamishwillee commented on #2782
Hi @carlin-q-scott

I tried this using a test "evil site" on FF82 as per these instructions: https://ptvb.sy.gs/evilXHR/. This failed until I set the pref to false and rebooted - and then succeeded.

Can you tell me what version of Firefox you tested this on. Also, can you supply test code I can use to verify this?

[2020-11-10 08:16] chrisdavidmills commented on #3723
@escattone ah, so the redirects when you move pages are just put in place via content-based redirects? I'll remember that for next time.

@rachelandrew I've now moved the function content to https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/fit-content(), so now https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/fit-content is free for you to add the keyword content to.

[2020-11-10 09:16] rachelandrew commented on #3723
@escattone @chrisdavidmills thanks both, I shall try not to make a mess in future! I've added the content, and a note at the top of fit-content about fit-content() as currently a lot of the grid things will point to the keyword not the function (as may external things). I'll go round and fix our stuff as I do these various grid updates.

[2020-11-10 09:49] simajzenman opened #3878 "displaySurface doc looks wrong"
# Request type

- [ ] Correction or update

# Details

Hello Mozilla,

I've seen in the page about MediaTrackConstraints.displaySurface (https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/displaySurface) that in the first paragraph, it says "is used to specify the type or types of display surfaces which getDisplayMedia() will let the user select among for sharing purposes.". As

[2020-11-10 11:29] jadjoubran commented on #2908
Hey @sushaanttb
Thanks for reporting the issue!
I can see that the documentation has this note after the `setTimeout` example:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Using_promises#Creating_a_Promise_around_an_old_callback_API (at the end of this paragraph)

Does that answer your question or do you feel it should be better clarified?

[2020-11-10 12:58] jadjoubran commented on #2801
@chrisdavidmills I would like to take this one ✋

[2020-11-10 13:15] chrisdavidmills commented on #2801
Assigned. Thanks @jadjoubran !

[2020-11-10 13:34] jadjoubran commented on #2665
@chrisdavidmills  I'll take this one too 👋

[2020-11-10 13:38] chrisdavidmills commented on #2616
@hamishwillee I think the note is useful; I've updated it a bit.

[2020-11-10 13:41] chrisdavidmills commented on #2665
Assigned; thanks @jadjoubran !

[2020-11-10 13:45] chrisdavidmills commented on #2967
@hamishwillee I think these fixes look pretty good. I'll close this now, but please jump in @defnull if you think this needs any more work.

Thanks all.

[2020-11-10 13:45] #2967 closed

[2020-11-10 13:56] chrisdavidmills commented on #3637
Looks pretty decent, thanks @hamishwillee !

I'll close this now, but feel free to jump in @deant if you think anything else is needed here.

[2020-11-10 13:56] #3637 closed

[2020-11-10 14:17] deant commented on #3637
Looks good to me.
Thanks.

[2020-11-10 14:24] chrisdavidmills commented on #3848
New pages moved today:

* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/element()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/env()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function/grayscale()

I also corrected the [`fit-content()`](https://wiki.developer.mozilla.org/en-

[2020-11-10 14:59] chrisdavidmills commented on #3818
Hacks post written: https://docs.google.com/document/d/1c-AR0vl972tL7ue-txjHafLWJ7BRBKv7dHsbOlXARLk/edit#

Hacks post sent out to the usual folk to ask for futher additions.

[2020-11-10 18:13] contentfree opened #3879 "Add information about supported <value> to CSP header page"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

At the [CSP header page](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy), the directives are clearly explained but nothing is said about acceptable values. You can glean some info from the examples su

[2020-11-10 20:01] caraya commented on #3221
@chrisdavidmills

Ready for review. Still working on .htaccess and nginx equivalency

[2020-11-10 21:44] hamishwillee commented on #2616
Thanks @chrisdavidmills . You're more verbose than me, but all good :-)

[2020-11-11 03:56] JamaanAlghamdi opened #3880 "https://developer.mozilla.org/en-US/docs/Web/Manifest/background_color"
# Request type

- [x] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [ ] Correction or update

# Details

[2020-11-11 03:57] #3880 closed

[2020-11-11 11:04] chrisdavidmills opened #3881 "Add information about hiding API keys to "Third party APIs" article"
## URL(s)

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Third_party_APIs

## Request type

- [ ] New documentation
- [x] Correction or update

## Details

Issue https://github.com/mdn/learning-area/issues/308 makes a good point, that it is bad practice to have your third-party API keys publicly displayed in your code — people can steal them and do bad thing with t

[2020-11-11 12:15] adam4designSSS opened #3882 "web_artical"
# Request type

- [x] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [ ] Correction or update

# Details

[2020-11-11 12:17] #3882 closed

[2020-11-11 12:57] Rumyra commented on #3799
Feature detection added to https://wiki.developer.mozilla.org/en-US/docs/Web/API/HTMLElement/beforeinput_event and https://wiki.developer.mozilla.org/en-US/docs/Web/API/InputEvent/getTargetRanges 👍

[2020-11-11 13:06] Rumyra commented on #2910
Ah the promise catch position :) fixed 👍  https://wiki.developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers

[2020-11-11 13:06] #2910 closed

[2020-11-11 13:42] Rumyra commented on #2957
I have thought about this for a while and agree that the tutorial should be more explicit as to whether to cache `games.js` or rather why not.

As `games.js` contains the data, in reality that would be called from an API endpoint or database, caching the data would mean updating it periodically when there was network connectivity. For scope of the this tutorial it's best to keep `games.js` from th

[2020-11-11 13:47] Rumyra commented on #3798
This is partly a duplicate of https://github.com/mdn/sprints/issues/3823

List of docs checked

- [ ] https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver
- [ ] https://mdn.github.io/dom-examples/resize-observer/resize-observer-text.html
- [ ] https://github.com/mdn/dom-examples/blob/master/resize-observer/resize-observer-text.html
- [ ] https://developer.mozilla.org/en-US/docs/Web/API/

[2020-11-11 14:14] rolivo288 opened #3883 "css transform is explicitly considered stable in CSS Snapshot 2020"
CSS transform is explicitly considered stable in CSS Snapshot 2020 (https://drafts.csswg.org/css-2020/), it is widely used and supported by browsers since the beginning of time. Please is it possible to remove the unstable tag and give developers peace of mind?

[2020-11-11 14:34] chrisdavidmills commented on #3883
@rolivo288 yes, sounds like a great idea. Where do we have this listed as unstable?

[2020-11-11 14:59] rolivo288 commented on #3883
Hello @chrisdavidmills I just confirmed that it is only for the Spanish version here I leave the link https://developer.mozilla.org/es/docs/Web/CSS/transform

[2020-11-11 15:39] Rumyra commented on #3736
Done - see https://wiki.developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Web_audio_spatialization_basics#Connecting_Our_Graph

[2020-11-11 18:03] chrisdavidmills commented on #3883
@rolivo288 ah, i see - you are talking about the experimental banners.

Are you willing to help us out by removing those? Basically edit the relevant MDN pages and remove the `{{seecompattable}}` macro calls.

(If you've never contributed to MDN before, https://developer.mozilla.org/en-US/docs/MDN/Contribute/Getting_started will help you get started)

[2020-11-11 20:00] rolivo288 commented on #3883
It will be a pleasure

[2020-11-12 08:22] rachelandrew commented on #3835
So I have been through every grid related page I can find (guides and property pages), updated gaps, also linked to the new `min-content`, `max-content`, and `fit-content()` pages.

Found various out of date things mostly regarding browser support, mention of old `display: subgrid` value etc. So have tidied these up.

Updated the sidebars. The grid pages use a custom sidebar which is at the bottom

[2020-11-12 08:38] chrisdavidmills commented on #3835
Ah, this set of pages is using the "Quicklinks" feature to create the custom nav. It creates a sidebar out of whatever is inside the element with the `id` of `Quick_Links`, e.g.

[code]

In pages in the set that don't have the sidebar, you just need to copy that markup over to those pages.

I also deleted the "Subnav" headings from the pages that have them, as they are not needed, and it is not id

[2020-11-12 09:06] rachelandrew commented on #3835
That's what I thought but the ones above do have it, but don't seem to use it - for example https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout

You can tell the ones that aren't using it as the Guides are in a jumbled up order and they strangely have `flex` in the list of properties.

[2020-11-12 09:57] chrisdavidmills commented on #3835
ah, I see what you mean. Hrm, I'm not sure what is going on here, in that case. I wouldn't worry about it just for now.

[2020-11-12 10:37] chrisdavidmills commented on #3883
@rolivo288 great, thank you!

I've assigned you to the issue, so that you get the credit for the work.

[2020-11-12 12:18] chrisdavidmills commented on #2957
@Rumyra sounds good to me, and I think your explanation is sound.

[2020-11-12 14:55] hakantr opened #3884 "The default value for the text shadow color is specified incorrectly."
## URL(s)

https://wiki.developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals#Text_drop_shadows
https://drafts.csswg.org/css-text-decor-3/#propdef-text-shadow

## Request type

- [ ] New documentation
- [x] Correction or update

## Details

Description on the MDN page:
4-The base color of the shadow, which can take any CSS color unit. If not included, it defaults to **black**.

wher

[2020-11-12 15:09] ramiy opened #3885 "Fix {{CSSxRef}}"
## URL(s)

https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/CSS_Functions

## Request type

- [ ] New documentation
- [x] Correction or update

## Details

When you try to display CSS functions `{{CSSxRef("attr")}}` it shows **attr**, when you use `{{CSSxRef("attr()")}}` it shows **attr()()**.

We need to use the second parameter `{{CSSxRef("attr", "attr()")}}` to show **attr()**. This is a w

[2020-11-12 16:09] Rumyra commented on #3525
The page referenced is correct, there is no need to update any information regarding this issue.

See also "The Web Audio API exposes only planar buffers, because it's made for processing. It works with planar, but converts the audio to interleaved when it is sent to the sound card for playback. Conversely, when an MP3 is decoded, it starts off in interleaved format, but is converted to planar for

[2020-11-12 16:09] #3525 closed

[2020-11-12 16:27] Rumyra commented on #2957
Thanks @chrisdavidmills I've added:

You may notice we haven't cached game.js. This is the file that contains the data we use when displaying our games. In reality this data would most likely come from an API endpoint or database and caching the data would mean updating it periodically when there was network connectivity. We won't go into that here, but the Periodic Background Sync API is good fur

[2020-11-12 16:37] chrisdavidmills commented on #3221
Thanks @caraya , this looks really good. I've given it a copy edit and tightened up the language a bit.

It would also be nice for @hamishwillee to give this a check over.

[2020-11-12 16:39] chrisdavidmills commented on #2957
Looks great, thanks @Rumyra !

[2020-11-12 16:50] chrisdavidmills commented on #3884
@hakantr thanks for reporting this. I've updated it now.

[2020-11-12 16:50] #3884 closed

[2020-11-12 17:15] Rumyra commented on #3799
Also BCD PR accepted https://github.com/mdn/browser-compat-data/pull/7279#event-3989566683

[2020-11-12 17:17] Prerna237 commented on #3809
@s-e1 : The article already mentions that the static value of the first parameter is set throughout the array. It also mentions that all elements in the array will be this exact value.

Hence, the best way to put across the point you've raised seems to be through an example and I have added it. Let me know if that works.

[2020-11-12 17:18] chrisdavidmills commented on #3799
Great, looks like we can close this. Thanks @Rumyra

[2020-11-12 17:18] #3799 closed

[2020-11-12 17:23] Rumyra commented on #3008
Temporary list of pages

- [ ] https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/childElementCount
- [ ] https://developer.mozilla.org/en-US/docs/Web/API/Document
- [ ] https://developer.mozilla.org/en-US/docs/Web/API/DocumentFragment
- [ ] https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/children

[2020-11-12 19:25] meleu opened #3886 "There's a blatant spam link in the Web APIs list page"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

There's a blatant spam link in the Web APIs list page:

![spam-in-the-docs](https://user-images.githubusercontent.com/8508804/98986413-a2b78d80-2503-11eb-855f-de96cb918624.png)

https://developer.mozilla.org/en-US/docs/Web/API

[2020-11-12 19:31] chrisdavidmills commented on #3886
@meleu fixed; thanks for reporting!

[2020-11-12 19:31] #3886 closed

[2020-11-12 19:42] MaharishiCanada commented on #2957
My point was that in the example provided, the code (see below) will systematically cache game.js at the first request even though it's not in the list to cache.  I am not sure the explanation covers this aspect.

[code]

[2020-11-12 21:29] MendyBerger commented on #3875
Setting 'checked' programmatically (e.g. with `setAttribute`) will set the checkbox to checked, so maybe the word "default" isn't the most descriptive either

[2020-11-12 21:46] MendyBerger commented on #3025
ScreenOrientation is just a class not an instance.

If you want access to an instantiated ScreenOrientation object checkout [screen.orientation](https://developer.mozilla.org/en-US/docs/Web/API/Screen/orientation).

So, `screen.orientation.lock` should be a function.

[2020-11-12 22:07] zbrogz commented on #3875
The spec is a little wonky in my opinion, so I'm not totally sure what the description would be. I do think "default" or "initially" would be less confusing than "currently", however.

Note that the `checked` attribute and `checked` property are not always in sync (`element.getAttribute('checked')` vs `element.checked`). In other words, the checked attribute does not always reflect the currently s

[2020-11-12 23:26] hamishwillee commented on #3221
@chrisdavidmills @caraya Subedited. I found the English confusing in several parts about whether we were talking about the server or the browser.

In particular I changed the titles of the headings about getting MIME types to make it clear that one is what you set in the server and the other is how you check the MIME type of files your recieved.

There are two **significant** broken links in https

[2020-11-12 23:49] MendyBerger commented on #3875
Sorry, my bad, discard my comment.
The fact that setting it programmatically checks the checkbox, is perfectly compatible with the term "default".

I've fixed it in the docs https://wiki.developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio$revision/1653437

[2020-11-12 23:59] MendyBerger commented on #3025
I've updated the [ScreenOrientation](https://developer.mozilla.org/en-US/docs/Web/API/ScreenOrientation) docs with a link to `screen.orientation` so that future viewers know where to find a ScreenOrientation instance.

I think that this can now be closed.

[2020-11-13 03:17] hamishwillee commented on #3877
@Jxck Yes, though the point here w.r.t. the existing docs is that `max-age=0` is not irrelevant (`must_revalidate is).

The changes I propose to make:

[Cache-Control > Preventing Caching ](https://wiki.developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#Preventing_caching)
- Add this note:
  ![image](https://user-images.githubusercontent.com/5368500/99023165-216e0280-25b8-11eb-9bbb-28

[2020-11-13 03:32] hamishwillee commented on #3877
@chrisdavidmills Can you please sanity check ^^^^

Essentially the current docs says `--no-store` is the only directive you need to stop caching of responses (i.e. setting `max-age=0` and `must-revalidate` make no sense in this context).

However the spec says that a  `--no-store` request can still result in a cached response. In this case then a client setting `max-age=0` says revalidate, which w

[2020-11-13 08:23] s-e1 commented on #3809
It should help. Thank you.

[2020-11-13 08:25] s-e1 commented on #3809
**@Prerna237** : It should help. Thank you.

[2020-11-13 08:26] #3809 closed

[2020-11-13 08:46] fireattack opened #3887 "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/sticky"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

It says

But this doesn't seem to match my observation.
[code]

The above all have different behaviors:

[code]
(And they're as expected.)

[2020-11-13 08:55] fireattack commented on #3887
Same error can be seen at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/global

[2020-11-13 09:09] chrisdavidmills commented on #3025
Thanks for adding this @MendyBerger. This does highlight an issue with our current docs —  that static members and instance members are not clearly differentiated in many cases, and the page titles of the member pages kind of imply that they are all static members.

This is a project we'll have to do at some point after we move to Yari — it will be a lot easier then, once we can do mass edits.

[2020-11-13 09:09] #3025 closed

[2020-11-13 11:31] chrisdavidmills commented on #3875
Perfect fix, thanks a lot @MendyBerger !

[2020-11-13 11:31] #3875 closed

[2020-11-13 11:39] Rumyra commented on #3674
List of pages

- [ ] https://developer.mozilla.org/en-US/docs/Web/API/Location
- [ ] https://developer.mozilla.org/en-US/docs/Web/API/WorkerLocation
- [ ] https://developer.mozilla.org/en-US/docs/Web/API/URLUtilsReadOnly
- [ ] https://developer.mozilla.org/en-US/docs/Web/API/URL
- [ ] https://developer.mozilla.org/en-US/docs/Web/API/HTMLHyperlinkElementUtils
- [ ] https://developer.mozilla.org/en-

[2020-11-13 12:03] chrisdavidmills commented on #3221
Thanks @hamishwillee !

The two broken links to the example files are because @caraya is still working on them, I believe.

[2020-11-13 12:06] chrisdavidmills commented on #3877
@hamishwillee sounds reasonable to me.

[2020-11-13 12:35] ryc76 opened #3888 "404 on https://developer.mozilla.org/en-US/docs/Web/CSS/row-gap"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The page has a broken link. The top panel contains
404 Not Found

    Code: NoSuchKey
    Message: The specified key does not exist.

    Key: pages/css/grid-row-gap.html
    RequestId: 48F9E1DBAB9B7940
    HostId: VL1UbsGYKqxPQkGVFxh8

[2020-11-13 12:46] Rumyra commented on #3518
I have added the init options to the `observe()` page. I'm inclined to keep the `MutationObserverInit` purely because of the information held on the options subpages.

A tricky one as we're back to documenting dictionaries, but in this case there's quite a bit of info included.

[2020-11-13 12:56] chrisdavidmills commented on #3888
@ryc76 the box-alignment spec-related examples got move recently inside the repo, and some were renamed; see https://github.com/mdn/interactive-examples/tree/master/live-examples/css-examples/box-alignment

I fixed this by updating the "grid-row-gap.html" referenc ein the macro call to "row-gap.html"

Thanks for reporting!

[2020-11-13 12:56] #3888 closed

[2020-11-13 14:21] sollo-users opened #3889 "{{Dílčí stránkyWithSummaries}}"
# Request type

- [x] Please close this issue, I accidentally submitted it without adding any details
- [x] New documentation
- [x] Correction or update

# Details

[2020-11-13 14:22] #3889 closed

[2020-11-13 14:23] Rumyra commented on #3387
Picking this up and having a play 👍

[2020-11-13 14:25] Rumyra commented on #2957
I'm going to pick this up again @chrisdavidmills as I overlooked the initial cache. I might go through the tutorial myself and even out anything I find

[2020-11-13 14:27] #3205 closed

[2020-11-13 19:09] rachelandrew commented on #3793
@chrisdavidmills BCD has now been merged for this one

[2020-11-14 00:27] RafaelRamosR opened #3890 "https://developer.mozilla.org/es/docs/Web/CSS/Especificidad"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The title and end of the introductory paragraph on the topic of specificity were purposely mistranslated.
![imagen](https://user-images.githubusercontent.com/61805565/99132995-3bbed500-25e6-11eb-81b1-7d730b5d2a6c.png)

[Especificidad -

[2020-11-14 22:11] mikoMK commented on #3890
It seems that someone has already reverted this change today. So this looks fine.
If you find more such errors, you can also login to MDN yourself (with your Github account) to make the necessary changes. ☺️

[2020-11-15 00:27] mikoMK commented on #3454
@chrisdavidmills I can reproduce the error when i click on the "Bikes" and "BMX" breadcrumbs. Shall I just change the href attribute to "#"? This way we could keep the look of clickable breadcrumbs, but without the error.

[2020-11-15 03:39] RolkerMan opened #3891 "https://developer.mozilla.org/zh-CN/docs/Web/CSS/z-index"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

In the demo section,the z-index value of the green box doesn't seemed to be the reason why it's above the dashed-box.

It is more like that the z-index of dashed box is set to an integer, which establishes a local stacking context for

[2020-11-15 10:56] jadjoubran commented on #2665
I can see that the **demonstrative example** has been removed on May 8, 2020, 1:18:46 AM

Do you think we should bring it back with the changes? The current text already offers explanation of how the function works
I would be worried to have the example and having people copy paste that into their code instead of using Math.round. What do you think?

[2020-11-15 17:17] DaggLo opened #3892 "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

[Operator precedence](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence) has [Bad link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_Operators#Logical

[2020-11-16 01:36] hamishwillee commented on #3892
Thanks very much @DaggLo ! A bunch or the operators were pointing to the wrong place - the are all good now.

FYI this is a wiki, so if you are sure of a problem and fix we'd welcome you fixing it directly :-)

[2020-11-16 01:36] #3892 closed

[2020-11-16 02:33] MendyBerger commented on #3587
Not sure exactly how the spec works, but it looks like you're right about "Alt" and "AltGraph" not being deprecated as they are both still listed [here](https://www.w3.org/TR/uievents-key/#keys-modifier), can anyone with experience in spec reading confirm this please?

[2020-11-16 03:36] hamishwillee commented on #3221
Hi @caraya (@chrisdavidmills)

In that case this will need just a little more work:
1. The doc says "If you're using the Apache web server, simply copy this *Apache configuration examples* to the directory, ..."
   - This links to the top of the doc, which is a set of examples (not just one file you can copy)
   - You need to perhaps modify this to link to the specific section - e.g. something lik

[2020-11-16 04:11] MendyBerger commented on #3858
Looks to me like this example demonstrates what it says on the `Date` constructor page:

Where do you folks think that this example belongs, on the `Date` main page (where it currently is), or in the `Date` constructor page since this is where the behavior is documented, or maybe even on both?

BTW The current "see example below" link doesn't work since it looks for the example on the constructor

[2020-11-16 04:12] hamishwillee commented on #3877
Thanks @chrisdavidmills

@Jxck I have made the change as indicated above. If you have further comments let me know, otherwise I will close this tomorrow.

[2020-11-16 06:36] hamishwillee commented on #1283
I've created page here: https://wiki.developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Upgrade

BCD is in progress here: https://github.com/mdn/browser-compat-data/pull/7367

@chrisdavidmills I think this is a useful summary. Mostly I am concerned about the BCD because, as usual, hard to find confirmation of whether things are supported and in particular, the version. We will see.

[2020-11-16 08:01] chrisdavidmills commented on #1283
Nice work, thanks @hamishwillee . I've given the page a light copy edit and cleared up a few styling bits; looks good to go.

And yeah, we'll see what Daniel says about BCD.

[2020-11-16 08:12] chrisdavidmills commented on #3221
To unarchive, it just needs to be moved out of `/Archive/` to somewhere else. Should we put this page under `/Server-side/` as well? What do you think we should call it?

[2020-11-16 08:46] chrisdavidmills commented on #3891
@RolkerMan yes, you are right. To make them not create new stacking contexts, one way is to make sure all positioned elements are in the same level of nesting in the DOM. I changed the English version so that this is fixed:

https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/z-index#Examples

What do you think? If you think this is good, can you please update the zh-CN version?

[2020-11-16 08:59] #2705 closed

[2020-11-16 09:02] tannerdolby opened #3893 "Error on MDN profile page: Sub menu not visible upon hover at viewport widths larger than 1024px"
I noticed this issue on my [profile page](https://developer.mozilla.org/en-US/profiles/tannerdolby) at `/en-US/profiles/username` where the sub menu column is only 50% visible as its content is overflowing the parent container.

Within the `<div class="user-cards">` container, when I hover over `<button id="advanced-menu">..</button>` the `submenu-column` container appears but the second `<li>` it

[2020-11-16 09:03] chrisdavidmills commented on #3454
@mikoMK yes please. That would certainly stop the example from breaking.

[2020-11-16 09:04] #3893 closed

[2020-11-16 09:04] chrisdavidmills commented on #3893
Issue moved to [mdn/kuma #7620](https://github.com/mdn/kuma/issues/7620) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-16 09:05] chrisdavidmills commented on #2665
@jadjoubran sounds reasonable.

[2020-11-16 09:39] prajaraksh opened #3894 "https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_Types"
# Request type
- [X] Correction or update

# Details

https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_Types

![Screenshot_20201116_145725](https://user-images.githubusercontent.com/68528216/99236327-f7525580-27ee-11eb-99ce-838af8447747.png)

Underlined line isn't conveying proper message.

Through out the document consistent way has been to mention the mime type like `text/pl

[2020-11-16 09:47] Jxck commented on #3877
@hamishwillee LGTM thanks!

[2020-11-16 10:02] sideshowbarker commented on #3894
The `rfc822` subtype is actually listed at https://www.iana.org/assignments/media-types/media-types.xhtml#message — in the left-most column — as part of the `message` type registry.

And the registry entry for that `rfc822` subtype cites https://tools.ietf.org/html/rfc2046#section-5.2.1, which defines it:

And https://tools.ietf.org/html/rfc2046 and https://tools.ietf.org/html/rfc2045 both contain

[2020-11-16 12:05] Tatty79 opened #3895 "Correction"
# Request type

- [ ] Correction or update

# Details
https://wiki.developer.mozilla.org/ru/docs/Web/CSS/padding#%D0%9E%D0%B1%D0%B7%D0%BE%D1%80

"аблосютная длина" must be "абсолютная длина"
I found this mistake 4 times in the document.

[
](https://wiki.developer.mozilla.org/ru/docs/Web/CSS/padding#%D0%9E%D0%B1%D0%B7%D0%BE%D1%80)

[2020-11-16 12:16] chrisdavidmills commented on #3848
I've missed a few days, so I did quite a few today:

* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function/hue-rotate()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/image()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/image-set()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert()
* https://wiki.developer.mozilla.org/en-US/docs/W

[2020-11-16 12:22] prajaraksh commented on #3894
I wrote everything on the assumption of `message/rfc822` isn't available in IANA list.

I was just looking in the Template section(column 2).

No, everything is fine.

Thanks a lot for your reply.

I'm closing this issue.

[2020-11-16 12:22] #3894 closed

[2020-11-16 12:59] chrisdavidmills opened #3896 "Firefox 84 release notes (December 15)"
## Acceptance criteria

1. - [x] Firefox 84 release notes are updated with all DDN and DDC bugs.
2. - [x] Experimental Features page is updated.
3. - [x] platform-status is updated accordingly.
4. - [x] Hacks blogpost written about Fx 84 new features
5. - [x] Hacks blog post shared with Melissa, Mike Conca, Caitlin Neiman, Asa Dotzler, Jen Boscacci, and Tyler Ahn.
5. - [x] Links to the Fx hacks bl

[2020-11-16 13:12] chrisdavidmills opened #3897 "[JavaScript] Intl update > fractionalSecondDigits"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. The `Intl.DateTimeFormat` constructor's `fractionalSecondDigits` option.

## Related Gecko bugs

1. - [x] [Enable fractionalSecondDigits op

[2020-11-16 13:16] chrisdavidmills opened #3898 "[WebAPI] MediaRecorder > Exceptions"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. Exceptions thrown by the MediaRecorder API (not just the `MediaRecorder` interface necessarily)

## Related Gecko bugs

1. - [x] [Fire Inva

[2020-11-16 13:19] chrisdavidmills opened #3899 "[WebAPI] DOM > registerProtocolHandler()"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. Removal of the `registerProtocolHandler()` method's title argument (think this is just Firefox-specific)

## Related Gecko bugs

1. - [x] [

[2020-11-16 13:22] chrisdavidmills opened #3900 "[WebAPI] PerformancePaintTiming"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. PerformancePaintTiming API (mostly already done, needs BCD update and experimental banners removing)

## Related Gecko bugs

1. - [x] [impl

[2020-11-16 13:25] chrisdavidmills opened #3901 "[WebAPI] Remove AppCache"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] [BCD is updated](https://github.com/mdn/browser-compat-data/pull/7481)
3. - [x] Interactive example and data repos are updated if appropriate - Not applicable
4. - [x] The content has been reviewed as needed

## Features to document

1. Removal of AppCache

## Related Gecko bugs

1. - [x] [Disable appc

[2020-11-16 13:26] chrisdavidmills opened #3902 "[WebAPI] Sanitizer API"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [ ] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. Sanitizer API

## Related Gecko bugs

1. - [x] [Sanitizer API incorrectly hidden behind a pref](https://bugzilla.mozilla.org/show_bug.cgi?i

[2020-11-16 13:30] chrisdavidmills opened #3903 "[CSS] Enable aspect-ratio on Nightly"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [ ] The content has been reviewed as needed

## Features to document

1. Enabling of `aspect-ratio` property in Nightly (probably just Firefox-specific, but might also affect other browsers?)

## Related Gecko bu

[2020-11-16 14:06] jadjoubran commented on #2665
Just to double check, you mean the page is good the way it is?

[2020-11-16 14:37] chrisdavidmills commented on #2665
Yes, I mean leave it as is. The demonstrative example was complex and confusing, imo.

Which means we can close, I think? W00t!

[2020-11-16 14:37] #2665 closed

[2020-11-16 14:42] chrisdavidmills opened #3904 "[CSS] > Grid > Masonry"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. CSS Grid Masonry experimental feature. @rachelandrew already wrote the docs for this, so this probably just involves checking the docs and

[2020-11-16 14:45] chrisdavidmills opened #3905 "[CSS] Selectors"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [ ] The content has been reviewed as needed

## Features to document

1. Support for compound selectors and complex selectors within `:not()` negation pseudo-class. Needs BCD update, and some examples adding to t

[2020-11-16 15:13] chrisdavidmills opened #3906 "[Security] Mixed content and localhost"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated - *HW: pretty sure this is "not applicable"*
3. - [x] Interactive example and data repos are updated if appropriate - *HW: pretty sure this is "not applicable"*
4. - [ ] The content has been reviewed as needed

## Features to document

1. Hardcoding localhost names to the loopback addres

[2020-11-16 15:17] chrisdavidmills opened #3907 "[WebExtensions] browsingData.remove()"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated
3. - [x] Interactive example and data repos are updated if appropriate
4. - [x] The content has been reviewed as needed

## Features to document

1. Extend `browsingData.remove()` API to remove a subset of data with `cookieStoreId`.

## Related Gecko bugs

1. - [x] [Extend browsingData.r

[2020-11-16 15:19] chrisdavidmills opened #3908 "[DevTools] Page inspector"
## Acceptance criteria

1. - [x] The listed features are documented sufficiently on MDN
2. - [x] BCD is updated - *HW: not applicable*
3. - [x] Interactive example and data repos are updated if appropriate - *HW: not applicable*
4. - [x] The content has been reviewed as needed
5. - [x] Set bugs to dev-doc-complete
6. - [x]  Add entry to Firefox release notes if feature is enabled in release
7. - [

[2020-11-16 16:47] caitmuenster commented on #3907
Thanks Chris! We're currently waiting for the browser-compat-table to update and for Luca to review the update to the [browsingData page](https://wiki.developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/browsingData/RemovalOptions$revision/1652552).

[2020-11-16 16:48] escattone commented on #3667
This is done (see https://docs.google.com/document/d/1VvaT5q1uMsoJm2TLmeQAmdXKFfJTBUru0VJTFtQjM3o/edit?usp=sharing).

[2020-11-16 16:48] #3667 closed

[2020-11-16 18:41] #3890 closed

[2020-11-16 21:39] #3877 closed

[2020-11-16 23:10] hamishwillee commented on #3221
@chrisdavidmills Thanks!

FYI, I don't think I have necessary rights to do this.

You mean under https://developer.mozilla.org/en-US/docs/Learn/Server-side ? That seems sensible.

Further down the track we might want to expand on our docs. We could perhaps put this in a grouping parent - e.g. _/Learn/Server-side_**/Apache** or e.g. _/Learn/Server-side**/Servers**? Maybe too early?

My concern with

[2020-11-17 00:52] hamishwillee commented on #3908
Essentially feature is a checkbox you can select to add numbered highlight showing the tab-order - the order that you would scroll through links/buttons if you press tab. This is useful because we expect pages to have a logical tab order for people who can't use mouse, and this lets us immediately see that the order is sensible.

The feature is not dynamic; if there is a closed panel when you sele

[2020-11-17 03:34] hamishwillee commented on #3906
2. - [ ] [Consider auto upgrading passive mixed content in Nightly](https://bugzilla.mozilla.org/show_bug.cgi?id=1633743)

This is an existing [experimental feature](https://wiki.developer.mozilla.org/en-US/docs/Mozilla/Firefox/Experimental_features#Upgrading_mixed_display_content) that has been changed from default off to default on in [nightly](https://hg.mozilla.org/mozilla-central/rev/5d0b324f

[2020-11-17 03:45] hamishwillee commented on #3906
@chrisdavidmills Nightly vs Developer

https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts

https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts/features_restricted_to_secure_contexts - lots of "planned for" - should go back and verify?

https://wiki.developer.mozilla.org/en-US/docs/Web/Security/Mixed_content/How_to_fix_website_with_mixed_content - add note that

[2020-11-17 04:18] mattiapontonio commented on #3840
No time to this effort now.

[2020-11-17 05:30] rachelandrew commented on #3904
@chrisdavidmills this was the work I did a couple of weeks ago, I just updated Experimental Features to flag it enabled in Nightly.

BCD for the new properties and values is awaiting review: https://github.com/mdn/browser-compat-data/pull/7249

[2020-11-17 05:36] rachelandrew commented on #3903
@chrisdavidmills updated the bug and Experimental features page, this was the BCD we were separating out a few weeks ago so that's all up to date and the change reflected on the property page.

[2020-11-17 06:03] hamishwillee commented on #3906
@chrisdavidmills While reviewing found [Web security > See Secure contexts > Features restricted to secure contexts](https://wiki.developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts/features_restricted_to_secure_contexts). The table [Secure context restrictions that vary by browser](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts/features_restricted_to_secure_contex

[2020-11-17 08:12] rachelandrew commented on #3905
Added an example of complex syntax to the example section. I also updated the previous example with a clearer result and to remove a class named ".crazy" as it is exclusive language (regarding MH issues, and seemed unnecessary).

https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/:not

Added to release notes.

[2020-11-17 08:48] chrisdavidmills commented on #3905
Great work, thanks @rachelandrew . I've reviewed this, made a few small edits, and it looks fine.

I also see you did the BCD too: https://github.com/mdn/browser-compat-data/pull/7376

When that gets merged, I think we can close this.

[2020-11-17 08:49] caraya commented on #3221
@hamishwillee, @chrisdavidmills

I was waiting to get the final location before changing the link.  I like the idea of linking directly to the mime type configuration directly.

[2020-11-17 09:09] chrisdavidmills commented on #3221
OK, article moved:

https://developer.mozilla.org/en-US/docs/Learn/Server-side/Apache_Configuration_htaccess

Thanks folks!

[2020-11-17 10:22] chrisdavidmills commented on #3903
Great, reviewed, and this looks complete.

[2020-11-17 10:22] #3903 closed

[2020-11-17 10:50] chrisdavidmills commented on #3904
Thanks @rachelandrew ! I reviewed the masonry pages before, so I think we can consider that done. Experimental features page looks OK. I think once the BCD gets reviewed, we can close this.

[2020-11-17 10:58] chrisdavidmills commented on #3906
It really depends on each individual case. It is rare that a feature is enabled in Nightly, then later in dev edition, then in beta, then later in release. Usually a feature is enabled in Nightly and/or beta, and then goes straight to being enabled in release. In which case you'd see the "ship feature x" bug, update the BCD, write the rel note, and delete the entry in the experimental features pag

[2020-11-17 12:22] chrisdavidmills commented on #3906
Best thing to do is probably to ask @jpmedley (hi Joe!) Joe works for the Chrome Dev Team as a tech writer, does a bunch of MDN content, and is generally happy to help us with such issues.

[2020-11-17 12:37] chrisdavidmills commented on #3906
Reviewed, and this stuff looks good. Nice work sir!

[2020-11-17 13:05] Lich496 opened #3931 "Show designs of HTML tags for many browsers"
**Summary**
_What problem would this solve?_
We can know how the HTML tag looks in the other browsers without using other computers or installing many browsers.

**Audience**
_Who has this problem? Everyone? Article authors? Etc._
People who don't have mac or windows, and people who can't install a lot of browsers in their computer.

**Rationale**
_How do you know that people identified above actu

[2020-11-18 08:21] #3454 closed

[2020-11-18 08:32] rachelandrew commented on #3436
I wonder if things like https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/justify-content#Browser_compatibility are getting caught by the linter because they have a subheading?

[2020-11-18 09:27] rachelandrew commented on #3436
@ddbeck @chrisdavidmills this page https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function is about the function as a value. Does it need it's own compat or would showing compat for the filter property which uses it be the thing to do?

[2020-11-18 09:28] rachelandrew commented on #3436
I have also noted in the spreadsheet the ones I have checked but which seem to have a heading and call to compat so I don't know why they are being flagged up.

[2020-11-18 09:54] rachelandrew commented on #3436
I've been through all of these, and either added a note as to why I think the linter report is spurious, added a PR for data, or a note for some which I don't think we can really give data (plus my comments above).

I haven't done the non-standard ones as I wasn't sure if we want to, there are a whole bunch of -moz ones listed.

[2020-11-18 10:31] mikoMK commented on #3905
I had a look at the examples and it seems that the existing example
[code]
has no effect due to the newly used `text-decoration: overline`. I don't think that's intentional. How about using this:
[code]

[2020-11-18 10:53] chrisdavidmills commented on #3905
I had a look at this, and it seems to work for me (I tried in both Fx and Chrome) — the third and fourth elements in the example are underlined because they are not paragraphs?

[2020-11-18 11:11] mikoMK commented on #3905
It works in Fx 83 and Chrome, because they don't support complex selectors in ":not()" and therefore ignore the fifth rule. When testing in Fx Beta or Nightly (which support complex selectors in ":not()") the `text-decoration: overline` of the fifth rule takes precedence. Am I missing something?
![2020-11-18 12_07_38-_not() - CSS_ Cascading Style Sheets _ MDN - Firefox Developer Edition](https://u

[2020-11-18 11:54] ddbeck commented on #3436
Yeah, that's exactly what's happening. I brought this up in discussions while we were coming up with recipes for CSS pages. We have a few corner cases in CSS, where we have these grid/flex namespaces—there's no single "justify-content" feature. We talked about trying to represent that in BCD in a more intentional way, but that's when the layoffs hit. I don't have a solution for this right now, oth

[2020-11-18 12:08] rachelandrew commented on #3436
I think for someone looking at the type, that's what they want to know. Is it usable for the property they are likely to use it for? So I'll add the `filter` property info there.

[2020-11-18 12:52] chrisdavidmills commented on #3862
@prosovskyf assigned; thanks for your help!

[2020-11-18 15:58] chrisdavidmills commented on #3905
@mikoMK my apologies — I didn't have my Firefox Nightly updated. Now I can see exactly what you mean ;-)

I've updated the wording and the styling so that it makes a bit more sense.

[2020-11-18 17:52] chrisdavidmills commented on #3848
Did some more today:

* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/repeat()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/repeating-linear-gradient()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/repeating-radial-gradient()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/repeating-conic

[2020-11-18 23:12] mikoMK commented on #3905
There's no need to apologize. I'm glad I could help to improve the example. Thanks to you and the other tech writers at MDN. You're doing an amazing job in providing the world with knowledge!

[2020-11-19 03:19] MendyBerger commented on #3858
I added the text from the Date constructor page to clarify what the example demonstrates, and fixed the link to the example, for now I left the example on the main Date object page.

To address the year zero problem, according to [Wikipedia](https://en.wikipedia.org/wiki/ISO_8601#Years) the ISO 8601 actually does allow the year zero. I can't find any official documentation stating that the `Date`

[2020-11-19 06:55] liamappelbe opened #3909 "MIDIMessageEvent documentation has a broken link"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details
The [MIDIMessageEvent](https://developer.mozilla.org/en-US/docs/Web/API/MIDIMessageEvent) docs point the user to the MIDI spec, but [the link is dead](https://www.midi.org/specifications/item/table-1-summary-of-midi-message). It looks l

[2020-11-19 09:37] chrisdavidmills commented on #3909
Thanks for reporting this. Fixed now!

[2020-11-19 09:37] #3909 closed

[2020-11-19 10:11] chrisdavidmills commented on #3905
;-)

[2020-11-19 14:57] Rumyra commented on #3898
Exception is already here: https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/start - in fact all exceptions here are correct.

Updated https://wiki.developer.mozilla.org/en-US/docs/Web/API/MediaRecorderErrorEvent/error

Need to check BDC for MediaRecorderErrorEvent - the tests aren't found if I use the mdn-bcd-collector app

[2020-11-19 15:29] MendyBerger commented on #3879
Would like to take this one

[2020-11-19 15:42] chrisdavidmills commented on #3879
@MendyBerger assigned; thanks!

[2020-11-19 17:16] mpcsh commented on #3876
Thank you! And I don't think it's obvious at all, so no worries. If my reading is correct, `SegmentsObject` is an internal object that's created by `CreateSegmentsObject`, but not exposed to the user (i.e. it exists only in the engine). In the spec for [`CreateSegmentsObject`](https://tc39.es/proposal-intl-segmenter/#sec-createsegmentsobject), the return value is created in step 2 from `Segments.p

[2020-11-19 19:11] chrisdavidmills commented on #3848
And some more:

* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate3d()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotateX()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotateY()

[2020-11-19 19:12] #3565 closed

[2020-11-19 22:55] hamishwillee commented on #3876
@mpcsh Thanks.
I _think_ SegmentData makes sense so created that: https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Segmenter/SegmentData

Yes, feels like Segments is what we should create. You originally proposed -
[code]
Why not just `Segments` and doc those other ones inside it?

But since I lack confidence ... @chrisdavidmills what do you think?

[2020-11-19 23:31] hamishwillee commented on #3906
Maybe. My concern is that, looking at the code, it triggers on "builds on nightly flag". I am just concerned that an official release would have different flags set, so this might not be executed. I'm [clarifying in the bug report](ttps://bugzilla.mozilla.org/show_bug.cgi?id=1633743#c10) but I'll proceed as though it will be in the release.

[2020-11-19 23:37] hamishwillee opened #3910 "Features restricted to secure contexts > Application Cache> Did it go into Chrome 70"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

[Web security > See Secure contexts > Features restricted to secure contexts > Secure context restrictions that vary by browser](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts/features_restricted_to_secure_contex

[2020-11-19 23:38] hamishwillee commented on #3910
@jpmedley Can you please advise how I can tell from https://bugs.chromium.org/p/chromium/issues/detail?id=588931#c19 whether the plan to restrict Application Cache to secure context planned in Chrome 70 happened in that build (or some other)?

[2020-11-20 00:26] hamishwillee commented on #3906
@chrisdavidmills The second part https://github.com/mdn/sprints/issues/3906#issuecomment-728664905 on automatic upgrading is ready to review. i.e. this is all done.

Actually I just reworked the new section on [loading mixed content](https://wiki.developer.mozilla.org/en-US/docs/Web/Security/Mixed_content#Loading_mixed-content_resources) so it has sections that cover both these bugs. All fits toge

[2020-11-20 00:37] hamishwillee commented on #3906
@chrisdavidmills HOW do I set bugs to dev-doc-complete and remove the needed flag. Does not seem to be an option for me.

[2020-11-20 00:43] lobsterkatie commented on #3674
Thank you!

[2020-11-20 00:43] #3674 closed

[2020-11-20 01:13] guest271314 commented on #3525
@Rumyra

No, it is not.

The term "planar" is not in the Web Audio API specification text at all. Nor is the term "interleaved" in the specification. Web Audio API removed the term "planar" from the specification entirely https://github.com/WebAudio/web-audio-api/commit/ea35c4a0469f25738dffb7748e4786ea99a1e924, therefore the MDN documentation is not accurate, as it describes technical terms that a

[2020-11-20 03:20] bitsu567 opened #3911 "Translation missing"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

[Translation Error] The translation means that the property `margin: 0 auto` can control the position of h1 which is not.
![1](https://user-images.githubusercontent.com/73510290/99753724-c4c39800-2b21-11eb-9cc4-caef6997d6ac.jpg)

<img

[2020-11-20 05:57] hamishwillee commented on #3897
Quick review
- fractionalSecondDigits is not in current spec, but it is
  - [PRd here](https://github.com/tc39/ecma402/pull/347)
  - [Documented here](https://docs.google.com/document/d/1KXbFOzTsfIHXhk0uw8p8WXIHZ1Bm1xMZXahtDOiK40Q/edit)
  - Present in [Chromium (84)](https://www.chromestatus.com/feature/5704965743968256) and (obviously) Firefox

Actions
- - [ ] Docs?
- - [ ] BCD is updated
- - [ ]

[2020-11-20 08:12] rachelandrew commented on #1686
The `:drop` pseudo-class was indeed dropped in https://github.com/w3c/csswg-drafts/issues/2257

[2020-11-20 08:16] chrisdavidmills commented on #3911
Apologies, but we don't have the bandwidth to maintain translations. You are more than welcome to edit the page yourself; https://developer.mozilla.org/en-US/docs/MDN/Contribute/Getting_started explains how.

[2020-11-20 08:16] #3911 closed

[2020-11-20 08:43] rachelandrew commented on #2556
@chrisdavidmills I'm assuming this would cover the things under Input Pseudos in the Level 4 specification. I don't think we use the term UI Selectors anywhere.

https://www.w3.org/TR/selectors-4/#input-pseudos

[2020-11-20 09:28] vinyldarkscratch commented on #3898
Happy to see that others are using the mdn-bcd-collector project!  😄

At the moment, the collector project has disabled testing event APIs, since most of the interfaces aren't exposed on their own.  I opened https://github.com/foolip/mdn-bcd-collector/issues/799 for further discussion regarding adding tests for event interfaces.

[2020-11-20 09:31] rachelandrew commented on #1686
@chrisdavidmills we don't have a page for `:user-invalid` however we do have the similar `-moz` property https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-ui-invalid

I think other things have had the page moved and then the non-standard property also listed. The moz property name would be an alternate name then for Firefox in the BCD. The alternative would be to create a new page but already

[2020-11-20 11:23] Rumyra commented on #3898
Oh this is brill @vinyldarkscratch thank you so much, I was going to drop you an email to ask!

The app is *great* btw... and in regards to events I'll remember that for the future, so thank you! 🙏

@chrisdavidmills I'm putting this in for review - I am still unable to change the bug to dev-doc-complete however, apologies!

[2020-11-20 12:19] chrisdavidmills commented on #3898
@Rumyra reviewed, looks great thanks! I've also set the bug to dev-doc-completed.

We were waiting for any BCD to merge, or shall we close this?

[2020-11-20 12:22] chrisdavidmills commented on #1686
@rachelandrew sounds reasonable, thanks!

[2020-11-20 12:23] chrisdavidmills commented on #2556
Yes, agreed.

[2020-11-20 12:29] chrisdavidmills commented on #3906
All looks great, thanks @hamishwillee !

I've also set the bugs to dev-doc-complete. I can't figure out how to ask for the permissions you need for that.

I believe this can be closed now?

[2020-11-20 12:29] #3906 closed

[2020-11-20 12:35] chrisdavidmills commented on #3876
@hamishwillee I don't have a strong opinion here, except to say that we usually tend to have separate pages for symbols, e.g. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/@@iterator, so create the pages for consistency's sake?

[2020-11-20 13:53] Rumyra commented on #3898
BCD has been merged :) All is good @chrisdavidmills happy to close this 👍

[2020-11-20 13:53] #3898 closed

[2020-11-20 14:10] rachelandrew commented on #2068
@chrisdavidmills various other properties don't appear either, I spotted `appearance` and `aspect-ratio` are missing just doing a quick check. How do I get things to show up in the list?

[2020-11-20 14:24] Rumyra commented on #3899
This is just for firefox, but I'm unsure how to show that in the docs.

I'm inclined to change the syntax to be as per spec (no title), but update notes to explain only Firefox supports the new syntax (basically swapping the current info)

Give me a thumbs up @chrisdavidmills and I'll do it :)

[2020-11-20 14:37] chrisdavidmills commented on #3899
Sounds basically good; make it clear in the notes what the old syntax is, and also add a BCD entry for it?

[2020-11-20 14:40] Rumyra commented on #3900
I've created a PR for BCD here https://github.com/foolip/mdn-bcd-results/pull/1318 - but I'm interested to see how that comes back as I _think_ it just accounts for desktop FF

[2020-11-20 15:58] Rumyra commented on #3899
[DRAFT]

BCD PR is here https://github.com/mdn/browser-compat-data/pull/7432 added notes for browsers that have not updated as per spec

[2020-11-20 17:01] KevinJoseph opened #3912 "Request to create an article related to the use of UseState and Context in React"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [x] New documentation
- [ ] Correction or update

# Details
because I am interested in developing articles related to the topics of use State and context in the React framework. What requirements must I meet?

[2020-11-20 17:39] Rumyra commented on #3902
Update - I've created draft pages which I need to go through, edit and add examples too 👍 This will remain in progress for the time being

[2020-11-20 18:54] chrisdavidmills commented on #3912
Hi @KevinJoseph !

Thanks for getting in touch about this. I am happy to let you have a go at writing some MDN content. The main thing that concerns me is the scope of the work, whether it works in the context of what we already have, and whether it is realistic for you to complete based on the amount of time you have available.

So I'm assuming you want to create some documentation that would go

[2020-11-20 19:20] ursi commented on #2068
https://www.w3.org/Style/CSS/all-properties.en.json could maybe be used to automate it. This is what I use to create my CSS reference that links to the spec. However, it's not a *perfect* solution as it doesn't include `pointer-events` (presumably this is because it comes from the SVG spec and not CSS) and there may be other properties like this as well that I just haven't found.

[2020-11-20 22:22] determin1st opened #3913 "TURN OFF LANGUAGE DETECTION!"
I'm really tired

[2020-11-20 22:45] determin1st commented on #3913
or make it save the language choice

[2020-11-20 22:50] theres-waldo opened #3914 "SVGBoundingBoxOptions parameter of SVGGraphicsElement.getBBox() is not documented"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The [documentation page](https://developer.mozilla.org/en-US/docs/Web/API/SVGGraphicsElement/getBBox) of `SVGGraphicsElement.getBBox()` suggests that the method does not have any parameters.

However, in the [SVG 2 draft spec](https://

[2020-11-20 23:43] mathewhodson commented on #3906
@hamishwillee The way the code is right now, the flag will be disabled in the release version of Firefox 84. You can download Firefox Beta 84 right now and see that security.mixed_content.upgrade_display_content is disabled.

There is a chance it could be enabled for 84 but probably not. It it did, the uplift would happen in https://bugzilla.mozilla.org/show_bug.cgi?id=1672106

[2020-11-21 22:59] fabio-sassi commented on #2040
Thank you so much @jadjoubran to have a look over this problem.
The video about microtask give a deeper and better comprehension
about the concept behind Promises.

I think my example code was a bit confused (I could avoid the
setTimeout).

I write it again in a more clear way:

[code]

This is the log:

[code]

In the documentation, subject of this issue, we can read:

but the promise-callback is

[2020-11-22 08:52] sujalK opened #3915 "Javascript let variable creation phase"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [ X] Correction or update

# Details

I saw that in the website, MDN has wrote that let variables are not set to undefied during creation phase of Javascript.
As far I know, let variables are also set to undefined before it really gets into execution phase where actual va

[2020-11-23 01:07] RolkerMan commented on #3891
@chrisdavidmills I'd like to update the zh-CN version, but I couldn't see the changed content you mentioned in the Example section for the en version.

[2020-11-23 01:34] hamishwillee commented on #3915
Hi @sujalK
1. Can you identify the page and section where you see the problem?

   Do you mean [here](https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let#Temporal_dead_zone) where it says:

2. And the problem is that you think that the note means that the variable is set to undefined ?

I don't think the spec says or implies what you think it does. What the spec s

[2020-11-23 03:28] hamishwillee commented on #3906
Thanks @mathewhodson - really appreciate you and [Christoph](https://bugzilla.mozilla.org/show_bug.cgi?id=1633743#c12) letting me know.

@chrisdavidmills I have fixed this up. Note to you - don't include this in the release blog :-)

To "fix this up":
- I have added the feature back to [experimental features](https://wiki.developer.mozilla.org/en-US/docs/Mozilla/Firefox/Experimental_features#Upgra

[2020-11-23 03:40] hamishwillee commented on #3876
Thanks @chrisdavidmills
OK @mpcsh the full set created below - the last three items being the new ones.
- [Intl.Segmenter.supportedLocalesOf()
](https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Segmenter/supportedLocalesOf)
- [Intl.Segmenter.prototype.segment()
](https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Seg

[2020-11-23 05:16] sujalK commented on #3915
Please see the last sentence:

 If a LexicalBinding in a let declaration does not have an Initializer the variable is assigned the value undefined when the LexicalBinding is evaluated.

[2020-11-23 06:53] hamishwillee commented on #3915
@sujalK Thanks. I don't think it quite says "let variable value is set to undefined before setting actual value". What it says, precisely is that the variable gets the value of `undefined`:
- **if** it does not have an initaliser in the declaration
- **when** the LexicalBinding has been evaluated (before that it has no value at all - hence the reference error).

My understanding is that declaring

[2020-11-23 07:11] hamishwillee commented on #3915
So the MDN section [let > Temporal dead zone](https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let#Temporal_dead_zone) is an example which is technically correct but _unhelpful_

Because it _implies_ that `let` variables do not start with the value `undefined` when in fact they do (if no value is assigned). Perhaps this would be better:

@chrisdavidmills What do yo

[2020-11-23 08:31] sujalK commented on #3915
In my opinion, the let variables is set to undefined in creation phase but Javascript engine is not allowing to access before code execution reaches to the line: For example:- where let someVar=1; is reached during execution phase.

[2020-11-23 09:28] chrisdavidmills commented on #3891
No worries. I've updated it myself.

[2020-11-23 09:28] #3891 closed

[2020-11-23 10:04] #3913 closed

[2020-11-23 10:04] chrisdavidmills commented on #3913
Issue moved to [mdn/yari #1831](https://github.com/mdn/yari/issues/1831) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-23 12:44] x2zh opened #3916 "[WebAPI-ReadableStreamDefaultReader/read] Correction"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

Example 2 - handling text line by line
![image](https://user-images.githubusercontent.com/22076651/99962334-f9a64800-2dca-11eb-885d-258aefb4d454.png)

According to the spec https://encoding.spec.whatwg.org/#interface-textdecoder，
![ima

[2020-11-23 12:44] unarist opened #3917 "Specifications link for ShadowRoot.delegatesFocus should be removed"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

https://wiki.developer.mozilla.org/en-US/docs/Web/API/ShadowRoot/delegatesFocus

This article refers to https://dom.spec.whatwg.org/#shadowroot-delegates-focus but the spec only mentions about an internal field, not a public attribute o

[2020-11-23 22:11] hamishwillee commented on #3915
Yes, a `let` variable is set to `undefined` in the creation phase, which occurs when the variable is declared - i.e. `let somevar`. Once the variable has been initialised though you can access it because it exists. Prior to that you get a reference error because it does not exist.

So this text is not quite correct - the engine allows you to try access the variable at any time. It's just that befo

[2020-11-24 00:17] hamishwillee commented on #3901
1. - [ ] The listed features are documented sufficiently on MDN
1. - [ ] BCD is updated
1. - [ ] Interactive example and data repos are updated if appropriate
1. - [ ] The content has been reviewed as needed
1. - [ ] Set bugs to dev-doc-complete
1. - [ ] Add entry to Firefox release notes if feature is enabled in release
1. - [ ] Add entry to Firefox experimental features page if feature is not ye

[2020-11-24 04:15] hamishwillee commented on #2152
- According to [Chromium SameSite updates](https://www.chromium.org/updates/same-site) this was enabled by default on all versions after 80 (stable) - i.e retrospectively enabled on a bunch of versions once v84 came out). Generally the version it is said to have appeared in though is v84 (ie in [samesite cookies explained](https://web.dev/samesite-cookies-explained/)).
- BCD for Chromium appears t

[2020-11-24 10:14] judithmg opened #3918 "https://developer.mozilla.org/es/docs/Web/CSS/::before"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x ] Correction or update

# Details

examples result in Spanish not showing

[2020-11-24 10:30] chrisdavidmills commented on #3918
Thanks for reporting this. The IDs passed to the live example macros were still set to the English IDs, so it wasn't finding them. I've updated them to the Spanish IDs, so they are working now.

[2020-11-24 10:30] #3918 closed

[2020-11-24 10:53] chrisdavidmills commented on #3915
I think it is some kind of official term, but I agree it is still horrible ;-)

So we should probably use some kind of language along the lines of "Using Undeclared Variables (creating what is sometimes known as a "temporal dead zone")" ... ?

[2020-11-24 11:57] chrisdavidmills commented on #3616
@mdsearle Thanks for updating the page! I've given your work a bit of a clean up in terms of the text and the source code (a bit of cruft had crept into the markup, which is always worth checking on), but overall this was looking really good — I think your description is really helpful.

I'm closing this now, but feel free to chime in @dcompcoder is you have any other comments.

Good job.

[2020-11-24 11:57] #3616 closed

[2020-11-24 12:40] voxspox opened #3919 "default value for Date.UTC() month argument"
# Request type

- [x] Correction or update

# Details

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/UTC

`month` is an optional option since 2017. What is then the default value?

[2020-11-24 15:59] mikoMK commented on #3919
@voxspox According to the spec it defaults to 0. I updated MDN.

[2020-11-24 16:10] sujalK commented on #3915
on this text:
**Unlike variables declared with var, which will start with the value undefined, let variables are not initialized until their definition is evaluated.**

On this link:

https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let#Temporal_dead_zone

[2020-11-24 16:10] vivi173 opened #3920 "Change to Instruction required"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

In **Express Tutorial Part 3: Using a Database...**, there's a little issue in the section 'Testing - create some items'.
**Step 3
Run the script using node in your command prompt, passing in the URL of your MongoDB database (the same

[2020-11-24 21:25] philipwalton commented on #3722
As I mentioned above, you case use a combination of the `pagehide` and `visibilitychange` events to handle this case. But note that (again, as I mentioned above) `pagehide` cannot always be reliably fired in all cases, especially on mobile if a tab is backgrounded.

No, XHR is not reliable when the page is unloading. Since the `visibilitychange` event will sometimes fire when the page is unloading

[2020-11-25 07:02] MendyBerger commented on #3858
I think that this can be closed now, unless @nickshanks or anyone else objects 🤷

[2020-11-25 09:43] chrisdavidmills commented on #3858
Yeah, let's close it for now. We can always reopen if there's a problem. Thanks!

[2020-11-25 09:43] #3858 closed

[2020-11-25 09:44] mattiapontonio opened #3921 "What is a fragment?"
## URL(s)
https://developer.mozilla.org/en-US/docs/Web/API/Location/hash

## Request type

- [X] New documentation
- [ ] Correction or update

## Details
What is a `fragment` from "fragment identifier"?
I'm talking about linking internally. It's not the JavaScript interface?

[2020-11-25 09:47] chrisdavidmills commented on #3921
I've updated the first sentence on page to "...the fragment identifier of the URL — the ID on the page that the URL is trying to target."

Does that make it clearer?

[2020-11-25 10:04] #3818 closed

[2020-11-25 10:16] chrisdavidmills commented on #3919
Thanks @mikoMK ! I've added an "optional" badge to the parameter, and slightly tweaked the language, but I think we can call this one done.

[2020-11-25 10:16] #3919 closed

[2020-11-25 10:43] mattiapontonio commented on #3921
The ID of the item on the page. The doubt arose because reading [DocumentFragment](https://developer.mozilla.org/en-US/docs/Web/API/DocumentFragment) talks about an object without a parent.
So I don't give how to define this element if it is appended to the DOM.

However personally fragment sounds better to me, a piece of document in short.

There is a page for _fragment_ not the interface?

[2020-11-25 12:31] chrisdavidmills commented on #3921
Hrm, this is an interesting point, and I'm not surprised you found it confusing. I think a `DocumentFrgament` is a different thing — an object that represents a generic DOM node that hasn't been inserted into the DOM yet. If you look at the example on the `DocumentFragment` page, it uses one such object to contain several list items, before the fragment is then inserted as a child of the unordered

[2020-11-25 13:05] mattiapontonio commented on #3921
I think DocumentFragment is ok.
It's the word _fragment_ in `hash` that sounds confusing because It points to actually Elements and not Fragment.
Isn't It?

[2020-11-25 13:13] mattiapontonio commented on #3921
From the spec

A URL’s fragment is either null or an ASCII string that can be used for further processing on the resource the URL’s other components identify. It is initially null.

[2020-11-25 13:36] mattiapontonio commented on #3921
Seems It was right.
I was confused by the fact that `hash` is not the `fragment`.
**fragment** is defined in the URL spec but not in the URL interface.
Probably to obtain a string to pass to `querySelector` instead of `getElementById` 🤔
What I'm looking for Is the string without  `#` so You can Say that that string should match an `id` attribute.

[2020-11-25 17:26] adamalton opened #3922 "Options in demo for CSS `perspective-origin` have no effect"
# Request type
- [ ] Bug report

# Details
On the [MDN CSS `perspective-origin` page](https://developer.mozilla.org/en-US/docs/Web/CSS/perspective-origin), selecting the different options in the demo has no effect.

See video:
https://youtu.be/fSfOspWmXP8

That video was done with Firefox Developer Edition 84.0b3. The behaviour (or lack of it!) is the same in Chrome 87.0.4280.67.

[2020-11-25 19:31] carlin-q-scott commented on #2782
@hamishwillee Did you need to reboot for the setting to take effect?

[2020-11-26 00:02] mikoMK commented on #3919
Thanks @chrisdavidmills for improving it 👍

[2020-11-26 06:44] rachelandrew commented on #3922
@adamalton you are correct - looks like it is missing the `perspective` property. I'll go fix that in the example though it may take a little while to be released onto the site.

[2020-11-26 07:30] rachelandrew commented on #1686
I've been trying to figure out exactly what the status of `:future` and `:past` is and drawing a blank.

They exist a long way back in Chrome, I can see that they are in 30, and can find them in the Chrome source code. They are tied to the [Video Track](https://developer.mozilla.org/en-US/docs/Web/API/VideoTrack) functionality in WebKit source, so I think they probably shipped in Safari 6.1, and i

[2020-11-26 08:03] #3921 closed

[2020-11-26 08:24] rachelandrew commented on #2030
This is a very old thread but we have an example of multiple classes here https://wiki.developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Type_Class_and_ID_Selectors#Target_an_element_if_it_has_more_than_one_class_applied

I don't think we need to show every possible permutation as we don't do that for anything else.

[2020-11-26 09:48] karlhorky commented on #2030
I think the example content is good now! Before there were no examples of multiple classes. Now there is:

- an example of multiple classes
- an example of a tag with an id

Ideally, the concept and name of "compound selectors" would be actually explained before that in a separate short paragraph, but in practice it's true that it's not super important to know this (as long as you know that you ca

[2020-11-26 10:22] rachelandrew commented on #2030
ok I think this is probably done now then :) cc: @chrisdavidmills

[2020-11-26 10:30] rachelandrew commented on #844
I've completed the above, they were also mentioned in https://github.com/mdn/sprints/issues/1686

Waiting for compat data to be merged in https://github.com/mdn/browser-compat-data/pull/7511 and this to show up https://github.com/mdn/data/pull/447

cc: @chrisdavidmills

[2020-11-26 10:54] karlhorky commented on #2030
Alright, then I'm closing this. Thanks!

[2020-11-26 10:54] #2030 closed

[2020-11-26 12:08] adamalton commented on #3922
Great, thanks @rachelandrew.

[2020-11-26 12:22] jadjoubran commented on #2040
Hey @fabio-sassi, sure thing happy that it's clearer now!

I think it's because the constructor of the promise is not a callback, which is why it's being called immediately. So I'd rewrite your code as following:

[code]

The promise constructor (the function that you pass to new Promise()) needs to run immediately so that it returns an instance of promise so that the `.then()` could would queue t

[2020-11-26 14:38] andreElrico opened #3923 "https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cookie"
# Request type
- [x] Correction or update

# Details

[Web technology for developers > HTTP > HTTP headers > Cookie](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cookie)

When in javascript I manipulate my cookie via `document.cookie` that updated cookie is still send in the request header? So not only received by `set-cookie`?

[2020-11-26 20:17] fabio-sassi commented on #2040
@jadjoubran, you are right!

I looked it up online and I found that argument of Promise is a called "during the process of constructing the promiseObj" here:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/Promise

My confusion now is about the semantic, because if `executor` can be considered a callback as defined in wikipedia:

https://en.wikipedia.org/w

[2020-11-26 22:50] hamishwillee commented on #3923
This is neither a correct or an update.

The simple answer is yes, see [Web/API/Document/cookie](https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie). The exception being that there are cookies you can't access in JavaScript - ie. those with HTTPOnly set when in a different origin

[2020-11-26 22:50] #3923 closed

[2020-11-26 23:15] hamishwillee commented on #2782
@carlin-q-scott I wasn't sure, so I tried this again using Nightly (85). This time I definitely did not need to reboot.

[2020-11-27 04:35] hamishwillee commented on #3915
@sujalK Thanks. I have updated the text in https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let#Temporal_dead_zone_TDZ to make this more clear:

This is strictly correct according to the spec.

@chrisdavidmills Can you give my changes a quick look? I also took the time to explain why this is a Temporal DZ and not just "using undeclared identifiers", and tidied up s

[2020-11-27 05:01] hamishwillee commented on #3920
Thanks for reporting. It works for me either with or without '' on Ubuntu 20.04. What platform are you working on?

[2020-11-27 06:06] heysujal opened #3924 "No promotion page found"
# Request type

 Correction or update

# Details

[https://wiki.developer.mozilla.org/en-US/docs/MDN/About/Promote](url)

This link shows not found

[2020-11-27 06:41] rachelandrew commented on #3629
I'm looking at this and the example you refer to has HTML comments detailing the expected rendering, which seems to match the rendering in Firefox and Chrome, your CodePen has combined the two demos which is different to what we have documented.

Are you saying the rendering is incorrect as per the spec? As it seems to be right in terms of what we have documented here.

[2020-11-27 06:47] vivi173 commented on #3920
Hi Hamish, I'm working on windows 10, version 1909.

[2020-11-27 08:44] mattiapontonio opened #3925 "Cumulative Layout Shift (CLS)"
## URL(s)
From Google i did not find articles about this topic.

## Request type

- [X] New documentation
- [ ] Correction or update

## Details
- https://web.dev/cls/
- https://developer.mozilla.org/en-US/search?q=Cumulative+Layout+Shift
- https://www.google.com/search?q=cumulative+layout+shift+mdn

[2020-11-27 10:16] chrisdavidmills commented on #3924
I deleted this because it was out of date. Did you find a link to it somewhere?

[2020-11-27 10:23] heysujal commented on #3924
@chrisdavidmills  Actually  on [mdn web docs](https://wiki.developer.mozilla.org/en-US/)  page under the **Help improve MDN** section there is a link to this page which shows **Not Found**

[2020-11-27 10:50] chrisdavidmills commented on #3924
@heysujal oops ;-)

I'll transfer this issue to the Kuma repo and ask one of the devs help me to locate this link and remove it. Thanks for reporting!

[2020-11-27 10:50] #3924 closed

[2020-11-27 10:50] chrisdavidmills commented on #3924
Issue moved to [mdn/kuma #7644](https://github.com/mdn/kuma/issues/7644) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-27 11:03] prosovskyf commented on #3457
please assign, I ll add more initial explanation for using spread and what it actually pass etc. + simple example to understand the use

[2020-11-27 17:56] sujalK commented on #3915
As we know var variables in creation phase sets it's value to undefined, Is is not that let variables are set to undefined in creation phase of an Execution context ? I mean the ReferenceError is generated due to JS engine not allowing us to access the let variable before it's defined with some value in it ?

<img width="1362" alt="Screen Shot 2020-11-27 at 23 40 43" src="https://user-images.githu

[2020-11-27 19:15] rachelandrew commented on #836
Page: https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/:target-within

[2020-11-27 19:41] rachelandrew commented on #1687
@chrisdavidmills I think this makes sense for the pseudo-classes page, should we replace the index or have it as well as the index?

[2020-11-28 10:44] kcarmody commented on #3629
The MDN page was corrected very soon after I reported the problem.  I should have closed this issue then and am doing so now.  Sorry for the misunderstanding.

[2020-11-28 10:44] #3629 closed

[2020-11-28 10:45] rachelandrew commented on #3629
@kcarmody no problem - glad it is sorted!

[2020-11-28 12:54] alcar opened #3926 "[HTTP Caching] "normalization" anchor"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The "normalization" anchor inside the ["Varying responses"](https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching#Varying_responses) section of the "HTTP Caching" page does not seem to work; it currently points to `#normalization`

[2020-11-28 16:22] jadjoubran commented on #2040
Hey @fabio-sassi
The executor is not a callback.. I think you might be confusing that because the wikipedia page mentions executable code? that is different than executor

So far from the tests above, the sentence `Callbacks will never be called before the completion of the current run of the JavaScript event loop.` seems to be correct

Does that make sense?

[2020-11-28 17:24] fabio-sassi commented on #2040
Hey @jadjoubran
From wikipedia:

Executor is a function passed as argument of other code (the promise constructor) and "This execution may be immediate as in a synchronous callback" as in this case ... then why isn't a callback?

From the point of view of code workflow, executor is the same of `PrintTwoNumbers`'s argument, in wikipedia page C example:

[code]

I know that callback used to be thoug

[2020-11-29 07:45] nickgaya opened #3927 "Confusing warning about async runtime.onMessage listeners"
# Request type

- [ ] New documentation
- [x] Correction or update

# Details

The documentation for [`runtime.onMessage.addListener()`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/onMessage#addListener_syntax) has a warning box that states:

I found this confusing.  The underlying issue being described is that an async function always returns a Promise, so p

[2020-11-29 07:59] kinskikick opened #3928 "Correction what's in the head"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x ] Correction or update

# Details

The french translation explain that the <script> element should be had at the end of the <body> element, just before the closing tag </body>. And there is no mention of "defer".

By the way, I downloaded both files :  meta-example.html

[2020-11-29 12:40] chrisdavidmills commented on #3926
@alcar thanks for reporting this. I've fixed this in the source now, and it should update in the final page soon.

[2020-11-29 12:40] #3926 closed

[2020-11-29 20:13] prosovskyf commented on #3465
To avoid this problem, it should be used as array even if it is only one string inside or empty. Living Standard describes: protocols is either a string or an array of strings. If it is a string, it is **equivalent to an array consisting of just that string**; So you are right, string is just confusing without further explanation.
Please assign, I'll rewrite it. Thanks

[2020-11-29 22:09] hamishwillee commented on #3465
Awesome, thankyou @prosovskyf - you're assigned.

[2020-11-29 22:13] hamishwillee commented on #3457
Thanks @prosovskyf - assigned to you :-)

[2020-11-29 22:33] hamishwillee commented on #3915
I'm sorry but I don't understand your question, or how it affects the updated documentation. But let me have a try at answering anyway.

The main point to take away here is that for a var variable creation phase happens before any code is executed due to hoisting. That means the order of declaration of the var does not matter in the sense that when code is executed the var aways has a value.

"The

[2020-11-29 23:03] hamishwillee commented on #836
@rachelandrew I found this a little confusing.

My understanding is that
- `target` allows you to select a specific section when it has the id of an internal reference and that internal reference is selected.
- `target-within` is like `target` the tag with the id can be a child of the tag you've indicated. So what this allows is for you to select a group of items that might contain a target and do

[2020-11-29 23:32] hamishwillee commented on #3920
Thanks very much! I have removed the offending text :-). FYI only double quotes do work.

[2020-11-29 23:32] #3920 closed

[2020-11-30 00:12] hamishwillee commented on #3910
I've fixed this. The BCD has information on the actual versions this went in, so I updated the table against that. Also did same for Edge, and for a couple of FF cases.

[2020-11-30 00:12] #3910 closed

[2020-11-30 00:20] hamishwillee commented on #995
@chrisdavidmills I've looked at this again and I'm happy that it is a "good" fix. So closing. Feel free to check the section when/if you have time.

[2020-11-30 00:20] #995 closed

[2020-11-30 02:28] hamishwillee commented on #2152
@chrisdavidmills I have updated this as above. Specifically this now updates the three main docs that mention SameSite to reflect the new behaviour, and point people to the BCD at end of pages to check specific versions. Details above.

The impact of this change is that the docs will not go out of date with new releases. So when FF accepts the bug the BCD and release note will update, but the docs

[2020-11-30 06:03] faller222 opened #3929 "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

Please check this missplaced issue https://github.com/webcompat/web-bugs/issues/62170#issuecomment-731200529

[2020-11-30 06:41] hamishwillee commented on #2203
@chrisdavidmills (+ original poster @tamtm)

The [HTTP/1.0](https://tools.ietf.org/html/rfc1945#section-7) spec and early versions of [HTTP/1.1](https://www.w3.org/Protocols/rfc2616/rfc2616-sec7.html#sec7) mention entities and entity headers, which essentially mean "payload" and payload metadata (content-encoding, etc.).

However the [current spec of HTTP/1.1](https://tools.ietf.org/html/rfc7231#s

[2020-11-30 07:43] rachelandrew commented on #836
@hamishwillee that's right, there is no browser support yet and the BCD which would demonstrate that is pending, it has been merged by not showing up yet (see above in thread for the PR).

[2020-11-30 09:02] chrisdavidmills commented on #3929
H there @faller222. Apologies, but we don't have the bandwidth to maintain translations. You are more than welcome to edit the page yourself; https://developer.mozilla.org/en-US/docs/MDN/Contribute/Getting_started explains how.

[2020-11-30 09:02] #3929 closed

[2020-11-30 09:10] chrisdavidmills commented on #2152
@hamishwillee this is looking great, thanks! Yup, I'll close this. The bug referenced above already has `dev-doc-needed` set, so we'll pick it up again when the bug is resolved.

[2020-11-30 09:10] #2152 closed

[2020-11-30 09:16] chrisdavidmills commented on #3915
I think we can close this one now. @hamishwillee has clarified the point on the page, and there is no point debating this round in circles.

[2020-11-30 09:16] #3915 closed

[2020-11-30 09:16] rachelandrew commented on #1598
@chrisdavidmills where would this live on the site. It's touched on in various layout guides (grid, flexbox etc.) and also logical properties and values.

[2020-11-30 09:24] rachelandrew commented on #3186
@chrisdavidmills they were the wrong way round in the code comments. This property is also only physical, because the WG haven't decided what to do about the four value shorthands in a logical world.

The details below were correct. I've changed the code comments to refer to top and bottom, left and right as that's what the spec uses.

Per spec:

[2020-11-30 09:32] rachelandrew commented on #3006
@pmpinto The second article is just demonstrating how things stack naturally, if they do not create a stacking context. The article you referenced is specifically describing the things which create a new stacking context. So I don't think there is a contradiction there.

[2020-11-30 09:32] chrisdavidmills commented on #995
Yup, LGTM!

[2020-11-30 09:38] chrisdavidmills commented on #3186
@rachelandrew ah yes, I get it now ;-)

Fix looks good, thanks Rachel. I'll close this now.

[2020-11-30 09:38] #3186 closed

[2020-11-30 09:58] chrisdavidmills commented on #1598
@rachelandrew for the text direction stuff, I was thinking maybe add some content to https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Handling_different_text_directions ?

Or if it is likely to be an entire tutorial, maybe just put it under the main Web/CSS page?

[2020-11-30 10:17] chrisdavidmills commented on #3928
Hi there @kinskikick .

This is because the French version is out of date with the English version. The English version has the updated text that talks about `defer`.

I am not sure why your JS code is no working. I just tested it, and put the following lines in the head of the document:

[code]

And it worked fine for me.

Have you definitely got all three files in the same directory?

[2020-11-30 11:49] chrisdavidmills commented on #1687
@rachelandrew I think it makes sense to have the categories listed up the top of the page as @estelle suggested, and then have the alphabetical index down the bottom of the page.

[2020-11-30 14:25] vkWeb commented on #3452
@chrisdavidmills Hi sir.

I can work on this to start my contribution journey with MDN. Can this be assigned to me? :rocket:

[2020-11-30 14:54] chrisdavidmills commented on #3452
@vkWeb absolutely! Thanks so much.

[2020-11-30 16:00] Dectom opened #3930 "Inaccurate Example of Optional Chaining"
# Request type
- [x] Correction or update

# Details
On the Optional Chaining Page under the "Stacking the optional chaining operator" Section

At the bottom of the example it has the following two lines
[code]

Vacations isn't referenced anywhere else on the page neither is trip or getTime so this wouldn't work in the example given and the optional chaining would return a TypeError for non-existe

[2020-11-30 16:07] chrisdavidmills commented on #3848
OK, this is the last lot of them done:

* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotateZ()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/filter-function/saturate()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale()
* https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale3d()
* https://wiki.developer

[2020-11-30 16:33] prosovskyf commented on #3930
You are right, it is confusing to have different naming in same code block which does not refer to anything. This can be rewritten to
`let customerName = customer.name?.getName?.();
console.log(customerName)` which results in undefined as expected and we keep the same example as defined object above.
@chrisdavidmills please assign and I'll rewrite it. Thanks

[2020-11-30 17:12] escattone commented on #3931
cc @chrisdavidmills

[2020-11-30 17:43] ddbeck commented on #1686
Yeah, that seems likely to me too (ex: https://bugs.webkit.org/show_bug.cgi?id=105473). If you want to open a PR with details for Safari, we can probably just follow BCD's own data for Safari→Chrome, based on the WebKit version numbers.

[2020-11-30 21:16] roninbar opened #3932 "Exact content of JavaScript stack frames"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The article says

Conceptually, at least, the arguments and local variables in JS don't sit directly on the stack as they do in C, for example, but in an _execution context_ which is referenced by a pointer in the stack frame, but whic

[2020-11-30 22:32] ramiy commented on #3848
@chrisdavidmills

Great work Chris, now we need to fix #3885

[2020-11-30 22:32] #3848 closed

[2020-11-30 23:36] hamishwillee commented on #836
Thanks very much! FWIW even with BCD I'd probably like a note :-)

[2020-12-01 00:16] PeterConstable opened #3933 "feComposite docs/support is a mess"
# Request type

- [x] Correction or update

# Details
This pertains to the SVG feComposite element, as documented in MDN at <https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feComposite>.

There is a complex example at the bottom of that page. Supposedly, per [CanIUse](https://caniuse.com/?search=fecomp), this is well supported in Firefox, Chrome and Edge. However, I cannot find a single i

[2020-12-01 05:57] DesmondWillowbrook opened #3934 "Add new example in WebAssembly.Memory documentation"
# Request type

- [X] Correction or update
- [ ] Please close this issue, I accidentally submitted it without adding any details

- [ ] New documentation

# Details

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/Memory
(Specifically: [This](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/Memory#Examples))

[2020-12-01 08:32] Mr-shenjiehua opened #3935 "https://developer.mozilla.org/en-US/search?q=设计模式"
# Request type

- [x] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [ ] Correction or update

# Details

[2020-12-01 08:35] #3935 closed

[2020-12-01 08:37] chrisdavidmills commented on #3934
Thanks for the report, @DesmondWillowbrook !

Your fix suggestion looks good to me. You are welcome to edit the page yourself, if you like.

[2020-12-01 09:01] chrisdavidmills commented on #3885
As a note on this, we are aiming to get rid of as many KumaScript macros as possible after we move to the new Yari platform, which includes rendering out macros like this and just using standard links. So it is unlikely this will be fixed.

[2020-12-01 09:56] chrisdavidmills commented on #3931
This is an interesting idea, but it would be a lot of work, and I'm not sure how useful really. Modern browsers tend to be pretty consistent in their default rendering of most elements these days, with obvious exceptions being elements with complex UIs like `<video controls>` or `<input type="datetime-local">`.

In such cases, it might be good to build up a little gallery of what the elements look

[2020-12-01 10:07] chrisdavidmills commented on #3930
Sounds good @prosovskyf , assigned!

[2020-12-01 14:54] DesmondWillowbrook commented on #3934
Yes, I tried to do exactly that, but couldn't find where the page was
hosted. Could you please point it out to me?

On Tue, Dec 1, 2020 at 2:08 PM Chris Mills <notifications@github.com> wrote:

[2020-12-01 16:34] mpcsh commented on #3876
those pages look great, thank you all for your input and help!

[2020-12-01 16:34] #3876 closed

[2020-12-01 18:31] ugultopu opened #3936 "Where is the page for Function.prototype.prototype?"
The `prototype` instance property on a function instance allows that function to be used as a constructor. Although the `prototype` property is mentioned in the [new operator] page as:

Both links point to the same URL which goes to nowhere. That is, the [Function.prototype] page is not present and it simply redirects to the [Function] page.

This is a big omission if I'm not missing something.

[

[2020-12-02 06:19] normanr opened #3937 "Add support for touch events to violent theremin demo"
It would be nice to be able to use the demo in a touch environment (eg: phone or tablet). (Not required: sound could be continuous after a 'start/down' event until an 'end/up' event is received)

[2020-12-02 09:54] rachelandrew commented on #1687
@chrisdavidmills I've made it so: https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes

[2020-12-02 09:56] rachelandrew commented on #2556
I'm not sure having done https://github.com/mdn/sprints/issues/1687 if we need this, or where it would go. The spec doesn't have "UI Selectors" as a thing, so I'm assuming that what Estelle was referring to are the Input Pseudos from that list. However they don't fit as a distinct thing in the list mentioned.

I think if anything maybe some guide as to their use, although I think we already have s

[2020-12-02 13:00] rachelandrew commented on #3404
@chrisdavidmills BCD for this is now merged.

[2020-12-02 13:09] rachelandrew commented on #1686
@ddbeck PR here: https://github.com/mdn/browser-compat-data/pull/7555

[2020-12-02 14:03] rachelandrew commented on #3653
@jsoref I think you want https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap `overflow-wrap: break-word`

[2020-12-02 14:05] rachelandrew commented on #1362
@chrisdavidmills this is a very old issue, which I can't see where the problem is and it has been some time since the OP has done any CSS.

[2020-12-02 14:29] chrisdavidmills commented on #1362
@rachelandrew no worries, let's close this one then.

[2020-12-02 14:29] #1362 closed

[2020-12-02 15:14] jsoref commented on #3653
@rachelandrew: seems possible. Ideally there would be links from the pages I mentioned to that if it's the answer. And preferably an example closer to mine than the current examples which have spaces between words.

[2020-12-02 15:40] masammut opened #3938 "console.exception() and console.error() are not functionally identical"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

On the page https://developer.mozilla.org/en-US/docs/Web/API/Console/error it says that:

I have found out that at least on Chrome (Version 86.0.4240.111 64-bit) this is not true because "console.exception()" also throws the exception

[2020-12-02 20:21] normanr commented on #3937
(side-note: the event listeners for triggering `init` should be removed in `init`, otherwise using the keyboard causes init to be triggered multi times, and `DOMExceptions` when trying to remove the `startMessage` that has already been removed).

[2020-12-03 11:30] chrisdavidmills commented on #3404
@rachelandrew cool, in that case it should appear soon enough on the page. I'll close this one.

[2020-12-03 11:30] #3404 closed

[2020-12-03 11:39] chrisdavidmills commented on #1687
This looks really good, thanks @rachelandrew . I think all I'd like to see here now is a single sentence at the top of each of the new sections to describe what each class of pseudo represents.

[2020-12-03 11:39] chrisdavidmills commented on #2556
I think you're right. Let's close this now.

[2020-12-03 11:39] #2556 closed

[2020-12-03 11:44] Cimeone commented on #3457
Hello, if this hasn't been closed yet is it possible to also be assigned to this issue as this is a topic I'm well versed in

[2020-12-03 11:51] Cimeone commented on #3839
I'd be happy to look into this, can this be assigned to me.

[2020-12-03 11:54] Cimeone commented on #3934
Here's a link to the page @DesmondWillowbrook, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/Memory, once you're signed in you'll be able to edit the page, let me know if instead you'd like me to do this for you!

[2020-12-03 11:57] chrisdavidmills commented on #3839
Sure thing @Cimeone, happy to let you have a go.

[2020-12-03 11:58] chrisdavidmills commented on #3457
@Cimeone let's just see if @prosovskyf is still working on it first. @prosovskyf have you made progress on this one?

[2020-12-03 12:21] prosovskyf commented on #3457
@chrisdavidmills yea I am done with that, just need to have it approved as we discussed in the chat.

[2020-12-03 12:50] Cimeone commented on #3927
I'd be happy to address this, could it please be assigned to me.

[2020-12-03 13:03] Cimeone commented on #3730
I've gone through all your links, and cannot identify any more lines of code that have not been highlighted, believe all these have now potentially been resolved!

[2020-12-03 13:06] jbdemonte opened #3941 "https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/String/charCodeAt"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The link to `codePointAt` in the description is wrong : https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/codePointAt()

It would be updated to https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/

[2020-12-03 13:08] chrisdavidmills commented on #3457
@prosovskyf ok cool, thanks for the update. I'll wait for you on this one then.

[2020-12-03 14:26] Rumyra commented on #3901
This all looks great to me 👍 thank you @hamishwillee !

I agree about the support article. I am running 84 and can still flip the pref.

[2020-12-03 14:30] chrisdavidmills commented on #3730
Yup, let's close.

[2020-12-03 14:30] #3730 closed

[2020-12-03 14:30] chrisdavidmills commented on #3941
Apologies, but we don't have the bandwidth to maintain translations. You are more than welcome to edit the page yourself; https://developer.mozilla.org/en-US/docs/MDN/Contribute/Getting_started explains how.

[2020-12-03 14:30] #3941 closed

[2020-12-03 14:31] Rumyra commented on #3900
All that's left to do is set the bug to dev-doc-complete @chrisdavidmills

[2020-12-03 14:31] chrisdavidmills commented on #3927
@Cimeone assigned, thanks.

[2020-12-03 14:32] Rumyra commented on #3899
I'm just waiting on BCD for this one

[2020-12-03 14:35] chrisdavidmills commented on #3900
Yeah, I'm not sure how this works.

[2020-12-03 14:37] chrisdavidmills commented on #3900
Set to dev-doc-complete. Thanks @Rumyra !

[2020-12-03 14:37] #3900 closed

[2020-12-03 16:33] jbdemonte commented on #3941
ofc, normal
I modified it
thanks

[2020-12-03 16:48] DesmondWillowbrook commented on #3934
I did it! I also added another shorter example to elucidate the usage. Should I make a complete example for the second method or is this much enough?

[2020-12-03 17:55] chrisdavidmills commented on #3941
Thank you for your help.

[2020-12-03 20:47] caitmuenster commented on #3907
@chrisdavidmills, this is done, except it looks like the BCD tables haven't been re-generated to reflect updates on production. Can you nudge someone about this?

[2020-12-03 22:17] hamishwillee commented on #3897
@chrisdavidmills I think this is all done - modulo you merging the interactive example.

[2020-12-03 22:40] hamishwillee commented on #2782
Hi Carlin, I'm closing this as "cannot verify" - which means docs are correct. But if you can find a situation in which we can reproduce then I'd say we should raise a bug against the product, not the docs.

[2020-12-03 22:40] #2782 closed

[2020-12-03 22:42] hamishwillee commented on #2203
@chrisdavidmills Can I close this?

Do we need a "Ready for review" column in https://github.com/mdn/sprints/projects/10 ?

[2020-12-03 22:45] hamishwillee commented on #1283
@chrisdavidmills Awesome. I'm going to close this issue. The BCD thing is separate, and finding out the detail is gong to take forever.

[2020-12-03 22:45] #1283 closed

[2020-12-03 23:09] pmpinto commented on #3006
@rachelandrew thanks for looking into this. It does make sense from that perspective 👍

[2020-12-04 02:04] hamishwillee commented on #1723
With respect to the "Further info", entities have indeed been deprecated.
I have fixed this, as described in https://github.com/mdn/sprints/issues/2203#issuecomment-735584757 - ie they are still mentioned, but

[2020-12-04 05:55] hamishwillee commented on #1723
Done in https://wiki.developer.mozilla.org/en-US/docs/Glossary/Payload_body

@chrisdavidmills @ioggstream OK? This is actually kind of hard to explain because the term payload body is synonymous with message body unless transfer encoding is used _and_ the encoding requires additional data in the message body.

[2020-12-04 08:26] chrisdavidmills commented on #3006
Cool, looks like we can close this one then.

[2020-12-04 08:26] #3006 closed

[2020-12-04 09:44] chrisdavidmills commented on #1723
Looking good to me; closed!

@ioggstream feel free to chime in if you have any other comments.

[2020-12-04 09:44] #1723 closed

[2020-12-04 10:07] chrisdavidmills commented on #2203
Yes, I think we can close this.

A ready for review column might be nice, yes.

[2020-12-04 10:07] #2203 closed

[2020-12-04 10:47] rachelandrew commented on #1687
@chrisdavidmills done, and also added the missing two `:playing` and `:paused`. The data for them was included in the additions I did earlier so should show up at some point.

[2020-12-04 10:49] rachelandrew commented on #836
I've added the see compat table macro to this page.

[2020-12-04 10:53] chrisdavidmills commented on #1687
Looks great, thanks! I think we can close this now.

[2020-12-04 10:53] #1687 closed

[2020-12-04 10:57] codehag commented on #3495
Here is the text for incumbent realms on promises: https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise#Incumbent_Realm

[2020-12-04 11:25] rachelandrew commented on #1351
@chrisdavidmills The first three of these had already been done, so I checked the redirection, page content and BCD.

The listed pages which use the function hadn't been updated so I have done those.

[2020-12-04 11:27] rachelandrew commented on #840
@chrisdavidmills this was completed in https://github.com/mdn/sprints/issues/1687

[2020-12-04 11:34] rachelandrew commented on #2001
@chrisdavidmills so the issue here is that some types are defined in their own spec, they aren't covered by Values and Units.

The referenced page is Types, so probably should cover all types (whether in Values and Units or elsewhere). However the specs it links to are only the Values and Units ones.

To further complicate matters we do have a Values and Units page which then links to a lot of the

[2020-12-04 11:37] rachelandrew commented on #1378
@chrisdavidmills @vinyldarkscratch in the time since this was raised the page seems to have been created https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-stretch

[2020-12-04 12:07] chrisdavidmills commented on #1378
Cool, thanks for bringing it up @rachelandrew ! Can you give it a quick review, and then maybe we can look to close it?

[2020-12-04 12:08] chrisdavidmills commented on #840
Great, closing then

[2020-12-04 12:08] #840 closed

[2020-12-04 12:10] chrisdavidmills commented on #1351
@rachelandrew awesome, thanks! I think this looks done now, so closing, but please let me know if I've missed anything.

[2020-12-04 12:28] Mookiepiece commented on #2001
It would be a hard work to collect all those Types, but less profit, we don't read them much. at least I know my guess is not wrong now, my suggestion is rewrite this page to an introduction instead of a reference table.

[2020-12-04 14:30] 1202software opened #3942 "Document.cookie examples don't work"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details
The examples on this page no longer work: https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie

It seems you cannot access `document.cookie` anymore from JavaScript, it always returns an empty string. I'm on Google Chrome/Li

[2020-12-04 15:14] chrisdavidmills commented on #3907
@caitmuenster hi there! I did a shift + refresh on the page to regenerate it, and the new CD is now showing. So I think can close this now. Thanks!

[2020-12-04 15:14] #3907 closed

[2020-12-04 15:17] rachelandrew commented on #1378
@chrisdavidmills looks good to me, it's got the additional info about percentages from the L4 spec.

[2020-12-04 15:19] chrisdavidmills commented on #1378
Great, thanks. Closing.

[2020-12-04 15:19] #1378 closed

[2020-12-04 15:27] rachelandrew commented on #2001
@chrisdavidmills I think there are other issues that relate to Types, eg:

- https://github.com/mdn/sprints/issues/3243
- https://github.com/mdn/sprints/issues/1128

So maybe I do as I've just done for selectors and tidy this up. I think I put together quite a lot of the Values and Units page, and that's actually an explanation of what all these are. So Types is probably more of a listing but mayb

[2020-12-04 17:38] rachelandrew commented on #1697
@chrisdavidmills I moved this to our css-examples repo. I could get it working on Glitch but Glitch is so slow and often broken having it on our site seems better anyway. I couldn't get it to work as an embedded live example.

[2020-12-04 19:15] SebastianZ commented on #1351
The description at the `<easing-function>` page was still referring to animations and timings. I've updated the text now but the images still relate to timing.

Similarily, the animation and transition pages still refer to `<timing-function>`. I'll provide a patch to change that.

It looks like I don't have the rights (anymore) to reopen an issue, though as long as those points above are not done,

[2020-12-04 19:19] rachelandrew commented on #1351
ah of course, it's in the formal syntax. I'll need to open a PR for that. I'd searched but I was editing the page at the time so of course that didn't show up.

I'll reopen and fix that next week.

[2020-12-04 20:55] kinskikick commented on #3928
Hello, Thanks for your answer.

I saw the difference in the english page. As a French contributor, maybe I have to fix it, even if I am a rookie.

About the code, I try again but it doesn't work. I inspected the source code to check it. My files are in the same directory, and similar to yours. Here some screenshot :

![image](https://user-images.githubusercontent.com/47078639/101213862-5b906880-36

[2020-12-05 08:11] #3934 closed

[2020-12-05 08:57] chrisdavidmills commented on #3934
@DesmondWillowbrook that looks great, thanks for your contribution!

[2020-12-05 09:06] chrisdavidmills commented on #3928
@kinskikick ah., I think I see what the problem is. At the botto of your JavaScript file you've got a load of text that was accidentally copy and pasted in from the GitHub page.

If you delete everything from "© 2020 GitHub, Inc." downwards, save the file and try again, it should work.

[2020-12-05 10:01] chrisdavidmills commented on #1697
I had a similar conversation with someone else recently about embedded examples not working well with things like fullscreen API. They ended up just showing snippets for the example on the MDN page and then linking to an example on GitHub: https://wiki.developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API#Examples

Maybe you could follow that same pattern here?

[2020-12-05 10:30] chrisdavidmills commented on #2001
Thanks Rachel, I think your proposal here is sound. I'm happy as long as we use a consistent approach (i.e. along the same lines of the work you recently did on the pseudos page), and consider usefulness to the reader as the top priority. I mention this last bit because the only slight concern I have here is claifying what spec different types are from. I think this is fine, as long as it doesn't

[2020-12-05 18:44] vkWeb commented on #3452
@chrisdavidmills @Linbubin I have updated the Description of https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/propertyIsEnumerable.

@chrisdavidmills should we put a code example of this or the description alone will do?

[2020-12-05 18:58] vkWeb commented on #3942
@1202software @chrisdavidmills umm, I can try looking into what's going on.

[2020-12-05 19:38] vkWeb commented on #3942
After looking a bit on this I got to know that Google Chrome doesn't allow cookie reads / writes from file:// protocol. Other browsers allow that. Chrome allows cookie reads/writes from http protocol only: https://bugs.chromium.org/p/chromium/issues/detail?id=535.

[2020-12-05 23:54] Kaffesumpen opened #3943 "Misleading div description"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details
I think the starting description of div is misleading, the text I am talking about is:

With things like `display:flex` and more it can easily have an impact on the flow of the layout even without CSS applied.

https://developer.mozilla

[2020-12-06 07:41] kinskikick commented on #3928
Thanks, it works ! Thanks for your patience ;-)

[2020-12-06 10:12] gabrielsbrl opened #3944 "https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Video_and_audio_APIs"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [ x] Correction or update

# Details
Actually, the better way to work with the play and pause action, is to save the play promise in a variable, and just do the pause action when you know that the promise have been resolved, otherwise an error may appear, saying that you t

[2020-12-06 10:31] chrisdavidmills commented on #3928
Brilliant, glad I could help.

As for the French translation being out of sync with the English one, we don't have the time on our small team to maintain translations. Would you be interested in helping to update it?

[2020-12-06 10:37] chrisdavidmills commented on #3943
Hi @Kaffesumpen !

But ... `display: flex` is applied CSS. Am I missing something here? The key to this is that without any CSS applied to the page at all, `<div>` elements don't have any semantic value or influence the visual layout of the page.

[2020-12-06 10:49] Kaffesumpen commented on #3943
Sorry if I made a bad description.
If you have a parent element with display:flex adding a div will change the layout depending on what the flex parent have set.

With this I agree but that is not how I read it. I read it as long as the div do not have styles applied to it nothing happens, but a parent element can have `display: flex` and other layout properties that are not inherited that applies

[2020-12-06 10:58] chrisdavidmills commented on #3943
@Kaffesumpen ah, I see what you're getting at now. I've updated the sentence in question:

https://wiki.developer.mozilla.org/en-US/docs/Web/HTML/Element/div

Does that solve this issue, do you think?

[2020-12-06 11:00] Kaffesumpen commented on #3943
Yes, thanks for a great resource.

[2020-12-06 11:02] #3943 closed

[2020-12-06 11:11] chrisdavidmills commented on #3943
Cool, glad I could be of help.

[2020-12-06 12:59] jadjoubran commented on #2040
Hey @fabio-sassi
This is outside my experience but as far as I know, the function you pass as a constructor is **not** a callback. You can think of it as the constructor definition, so I don't see it as an exception

[2020-12-06 17:23] kinskikick commented on #3928
I would be glad to help the MDN translation, even if I speak english "like a spanish cow" as we say in France (ohlala, la baguette !)

I already made some changes in the content, each time I read something weird. There was some annoying mistakes in this part for exemple : https://wiki.developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Marking_up_a_letter

I just don't know how edit t

[2020-12-06 19:46] RussianCryptid opened #3945 "Update the async/await docs in the "Learn web development" module"
# Request type
- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details
The issue concerns the following page: https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await

In the "The downsides of async/await" section, a `timeTest` code from `fast-async-await.html` is provided as an ex

[2020-12-06 23:31] hamishwillee commented on #3942
No, this is an issue due to expected security behaviour, as reported in https://support.google.com/chrome/thread/33543699?hl=en (i.e. related to SameSite and iframes). You can see these working if you load the source pages directly in chrome. https://mdn.mozillademos.org/en-US/docs/Web/API/Document/cookie$samples/Example_2_Get_a_sample_cookie_named_test2?revision=1591237

There are a couple of pot

[2020-12-07 03:15] hamishwillee commented on #2497
@chrisdavidmills I don't think it makes sense to turn this into a "complete" topic on debugging worker thread, because AFAIK debugging a worker thread is _exactly_ the same as debugging a main thread. The only (minor) difference is that worker threads aren't necessarily created on page load (are created when needed),  so unlike the main thread the worker script might not be present in the sources

[2020-12-07 06:19] hamishwillee commented on #2839
Thanks very much for this @janodvarko - in particular for the link to the useful information about what this feature "means":  [doc provided by jano](https://hacks.mozilla.org/2017/05/debugger-html-call-stack-improvements/)

@chrisdavidmills Some of this was implied by the right-context section at the end of [Debugger > UI_Tour > Call stack](https://developer.mozilla.org/en-US/docs/Tools/Debugger/

[2020-12-07 06:53] hamishwillee commented on #2710
@chrisdavidmills I did a search on MDN and a visual scan through pages that I thought might link this, but couldn't find anything obvious. Is there a more methodical approach for finding links to this.

As to the content, this covers Examine,_modify,_and_watch_variables.

My understanding is that
- watching variables is covered by https://developer.mozilla.org/en-US/docs/Tools/Debugger/How_to/Set_

[2020-12-07 08:17] chrisdavidmills commented on #2710
@hamishwillee there isn't really a better way to investigate this; I'd say you've done exactly the right thing. I'd put in a redirect from that page to the Set watch expressions page.

[2020-12-07 08:23] chrisdavidmills commented on #2497
@hamishwillee all sounds reasonable. Is this another candidate for just redirecting to the main pages and putting in a little more info there? If that's going to be a pain then we could just leave it as is for now.

[2020-12-07 08:44] chrisdavidmills commented on #3942
@hamishwillee that's a good question — I'm not really sure how to access those demos.

@escattone , do you how the answer to this?

I'd be in favor of moving those demos across to a repo somewhere under https://github.com/mdn/ at some point.

[2020-12-07 08:53] chrisdavidmills commented on #2839
Reads pretty well to me, @hamishwillee . I think we can close this now.

[2020-12-07 08:53] #2839 closed

[2020-12-07 09:23] chrisdavidmills commented on #3928
Heh. Your English is much better than my French, so you have my upmost respect.

Yeah...the sidebar system on MDN is currently really horrible. Different sidebars are generated by diferent macros, and to edit these, you have to find the correct macro file. This particular sidebar is generated by https://github.com/mdn/kumascript/blob/master/macros/LearnSidebar.ejs, and you'll see that there are ob

[2020-12-07 10:55] chrisdavidmills commented on #3452
@vkWeb your added note looks good, thanks! I've given it a small tweak, and put it in a note for more visiblity, but I think this is done now.

Congrats on your first contribution.

[2020-12-07 10:55] #3452 closed

[2020-12-07 12:39] rachelandrew commented on #2001
The Values and Units spec has logical groupings, and then a section for types defined elsewhere so I am following the same approach here: https://drafts.csswg.org/css-values-4/

The ones defined elsewhere are fairly well grouped anyway - images, color etc.

[2020-12-07 12:41] chrisdavidmills commented on #2001
OK, fair enough.

[2020-12-07 15:43] rachelandrew commented on #2001
@chrisdavidmills working on this locally as it's quite a list, but there are a number of these types listed in the index already and that aren't yet listed which we won't have a page for. Are we happy that these are just all red links or should I not xref anything that doesn't have a page? Some of them would benefit from a page if they are quite complex. Others the one line description I'm writing

[2020-12-07 15:47] chrisdavidmills commented on #3897
Interactive example merged, aaaaaand we can close this.

[2020-12-07 15:47] #3897 closed

[2020-12-07 16:00] chrisdavidmills commented on #3905
All done, looks like we can close this one.

[2020-12-07 16:00] #3905 closed

[2020-12-07 16:35] chrisdavidmills commented on #3908
Reviewed, small edits made, but very happy with this; reads really nicely.

Thanks @hamishwillee !

[2020-12-07 16:35] #3908 closed

[2020-12-07 16:45] chrisdavidmills commented on #3901
This is looking great, thanks @hamishwillee .

The only extra thing I did was to update https://wiki.developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers#The_premise_of_service_workers — the note talked about AppCache still being available.

Closing!

[2020-12-07 16:45] #3901 closed

[2020-12-07 16:48] chrisdavidmills commented on #3906
@hamishwillee  just read this thread again; yup, all sounds good!

[2020-12-07 16:53] chrisdavidmills commented on #3902
How is this one going @Rumyra ?

[2020-12-07 17:17] Rumyra commented on #3902
Funny you should ask - I _just_ finished the pages. Next to do is get them up and make sure all BCD, kumascript & everything is inline. This might be in 24hrs as I'm on Goog tomorrow 👍

[2020-12-07 17:43] chrisdavidmills commented on #3902
That is perfectly OK — we've still got plenty of time until the launch.

[2020-12-07 21:57] hamishwillee commented on #3901
Thanks. How did you find that cross link to AppCache? Normally I try search to find these things, but not all that reliable on MDN

[2020-12-07 22:08] hamishwillee commented on #2710
Redirect created! Thanks

[2020-12-07 22:08] #2710 closed

[2020-12-08 03:29] hamishwillee commented on #2497
@chrisdavidmills Yes it is - very good idea.  I have copied the content almost verbatim into [Web_Workers_API > Using_web_workers | Debugging_worker_threads](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers#Debugging_worker_threads). It does not feel like unnecessary duplication in the context of web worker docs.

I have redirected the original doc here and also a

[2020-12-08 06:16] escattone commented on #3942
@chrisdavidmills I think @hamishwillee is right on here (thank you), but I probably won't be able to look into this in more detail until next week due to everything else going on for the launch of Yari a week from today.

[2020-12-08 07:06] hamishwillee commented on #2588
@chrisdavidmills I used some very simple test code: [testwatch.zip](https://github.com/mdn/sprints/files/5656944/testwatch.zip). Dumped both files into any folder, load HTML, set  breakpoint in **example.js** in `myFunction1()` then pressed the button1. This should allow you to then trace through the code watching `test` iterate.

My observation is that watch expressions are fragile, particularly

[2020-12-08 09:02] chrisdavidmills commented on #2497
This is looking great, thanks @hamishwillee ! The only thing I'd say now is that you could do with making that section a bit more browser-neutral, as it is in a general web platform documentation page now, and not a Firefox devtools-specific page.

So for example:

"Most browsers allow easy debugging of worker threads in their JavaScript debuggers"
"For example, in Firefox..."
"Chrome's tools are

[2020-12-08 09:24] chrisdavidmills commented on #3901
I just know about it because I wrote it ;-)

[2020-12-08 10:38] chrisdavidmills commented on #2588
@hamishwillee LGTM; I've done a bit of cleanup on the page, and I think this is ready to close now.

[2020-12-08 10:38] #2588 closed

[2020-12-08 10:56] chrisdavidmills commented on #2001
This is a good question. Our normal practice would be to have a separate page for everything, but I can understand that being overkill if the types only require a single line.

I'd perhaps do this:

1. For every type, include a name and a one line description, but don't link the name.
2. For simple ones only requiring one line, leave it at that
3. For complex ones that need a sepaate page, include

[2020-12-08 16:25] zicklag opened #3946 "Confusion Regarding the Support of Editable Content In the Docs"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

Hey there, I am encountering a confusing "conflict" in the documentation. In the [Making content editable](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Editable_content) page it explains how to enable editable content in you

[2020-12-08 18:23] Rabios opened #3947 "Some source codes in "Unconventional controls" page not highlighted!"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details
Yep, Here we go again! ;)

This page source codes not highlighted, At least one JavaScript source code highlighted but other JavaScript source codes not highlighted...

Link: https://developer.mozilla.org/en-US/docs/Games/Techniques/Con

[2020-12-08 19:05] Rabios opened #3948 "Source codes of "Mobile accessibility" page not highlighted!"
## URL(s)
https://developer.mozilla.org/en-US/docs/Learn/Accessibility/Mobile

## Request type
- [ ] New documentation
- [x] Correction or update

## Details
Hi again!

So yep i found another page with no source codes highlighting...

Link above, Go for it!

[2020-12-08 22:21] hamishwillee commented on #2588
Thanks. FWIW, the fact that you are expected to add boilerplate text to notes, tips etc (e.g. `<strong>Important</strong>:`) drives me crazy. Could so easily be done automatically.

[2020-12-09 05:47] tipiirai commented on #3722
Which implies that `visibilitychange` + `pagehide` combo is not any better than `unload` in the page parking scenario.

We have similar results with sendBeacon on the [study](https://volument.com/blog/sendbeacon-is-broken). Either due unload event not firing or sendBeacon call not able to reach the server. Hard for me to believe the `unload` event fails 94.1% of the time on Linux.

I guess we can

[2020-12-09 06:52] Krinkle commented on #3722
@tipiirai I have found no evidence of sendBeacon being called but the request not happening or being aborted when a browser tab is closed or navigated away. As I understand it, the issue you found in your study bears no relation to `sendBeacon`. Rather, it merely observed that the `unload` event doesn't fire in some cases, especially on mobile. And that `visibilitychange` had a bug in WebKit that

[2020-12-09 06:59] sideshowbarker commented on #3917
cc @gregwhitworth, who added the spec link (to place in the spec where the internal field is defined)

For the record here, in Blink `ShadowRoot` objects do expose a `delegatesFocus` attribute — because the Blink IDL at https://chromium.googlesource.com/chromium/src/+/refs/heads/master/third_party/blink/renderer/core/dom/shadow_root.idl has it. But it’s not clear why — since no such property is de

[2020-12-09 07:40] sideshowbarker commented on #3495
I now wonder if in MDN we should instead be titling this **Tracking the incumbent settings object** (or if we want to be more accurate, **Tracking the realm of the incumbent settings object**).

Or alternatively, the https://github.com/whatwg/html/pull/5722/files HTML spec patch could be rewritten to normatively use the term *incumbent realm* (as shorthand for “the realm of the incumbent settings

[2020-12-09 08:18] codehag commented on #3495
Ok, I have updated the naming everywhere and added a description of the incumbent settings object to the mdn documentation.

[2020-12-09 08:42] tipiirai commented on #3722
Thanks for the detailed write-up!

I guess the main issue is that there is no good replacement for the "unload" event, which is the primary use-case for sendBeacon. And without such an event one must resort to hacks and things get ugly very quickly. Duplicate events, missing events, and not knowing whether the page was unloaded or not. Ultimately the outcome is that you are not relying on the data

[2020-12-09 13:13] prosovskyf commented on #3930
@chrisdavidmills please review

[2020-12-09 13:15] prosovskyf commented on #3465
@chrisdavidmills please review

[2020-12-09 13:16] prosovskyf commented on #3457
@chrisdavidmills please review

[2020-12-09 13:19] prosovskyf commented on #3690
@chrisdavidmills please review

[2020-12-09 13:19] Scttpr commented on #3947
Hi @chrisdavidmills, as we discussed on Element I fixed it directly with the wiki ! I'm super proud, it is my first - super small - contribution

[2020-12-09 13:20] prosovskyf commented on #3807
@chrisdavidmills please review

[2020-12-09 13:22] prosovskyf commented on #3862
@chrisdavidmills  please review

[2020-12-09 13:43] tipiirai commented on #3722
I find it weird that everyone here seems to read the results in such a way that sendBeacon is 100% reliable and the unload event is broken. If the failure rate is 100%, then it's easy to believe the culprit is the event and not beacon. However the data shows that the calls work mostly. Given the complexity of the call as opposed to firing just an event it just _might_ be that the culprit is sendBe

[2020-12-09 13:49] chrisdavidmills commented on #3947
@Scttpr this looks fixed now, just perfect! thank you so much for your contribution, and I'm glad you are happy ;-)

[2020-12-09 13:49] #3947 closed

[2020-12-09 14:01] shivamrathi99 opened #3949 "Correction"
## URL(s)

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find

## Request type

- [ ] New documentation
- [ * ] Correction or update

## Details

(This is what a visitor sees when he finds this array method, it does not describe what will be returned if no value satisfies the testing function)

The find() method returns the value of the first element in the

[2020-12-09 14:03] chrisdavidmills commented on #3862
Reviewed, and I think this solves the problem nice. Thanks @prosovskyf !

I'm closing this now, but feel free to jump in if you've got any more comments @meatnordrink

[2020-12-09 14:03] #3862 closed

[2020-12-09 14:41] chrisdavidmills commented on #3949
Fixed; thanks for reporting!

[2020-12-09 14:41] #3949 closed

[2020-12-09 14:49] chrisdavidmills commented on #3807
@prosovskyf looking great, thanks! I removed the note, as I didn't think it was needed, but the code updates are fine.

[2020-12-09 14:49] #3807 closed

[2020-12-09 14:52] bbrown-spsu opened #3950 "https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest"
# Request type

- [x] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [ ] Correction or update

# Details

The examples on this page will not run in Firefox 83.0 64 bit.  That appears to be because "await" is not within an async function on the next-to-last line.  The message I get is "Uncaught SyntaxError: await is only valid in async func

[2020-12-09 15:03] chrisdavidmills commented on #2588
Yup ;-)

[2020-12-09 15:04] #3690 closed

[2020-12-09 15:16] shivamrathi99 opened #3951 "Code updation"
## URL(s)

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findIndex

## Request type

- [ ] New documentation
- [ * ] Correction or update

## Details

const array1 = [5, 12, 8, 130, 44];
const isLargeNumber = (element) => element > 13;
**console.log(array1.findIndex(isLargeNumber));**

This code snippet can be shown like this:

const array1 = [5, 12, 8, 130

[2020-12-09 15:29] sideshowbarker commented on #3495
Thanks, the update looks perfect

Yeah I think the updated description (along with the example code) in the MDN article does an exceptional job of explaining it clearly in a way that makes it relevant to web-developer needs

[2020-12-09 15:39] chrisdavidmills commented on #3457
Your language was ok here, but I've tidied it up, put it in a "Description" section to be consistent with other JS reference pages, and added some more information. I think this looks good now, thanks for helping!

[2020-12-09 15:39] #3457 closed

[2020-12-09 15:46] chrisdavidmills commented on #3465
@prosovskyf I've simplified your addition down to just "If it is omitted, an empty array is used by default, i.e. []." I don't think we nreally need anything else here?

[2020-12-09 15:46] #3465 closed

[2020-12-09 15:53] chrisdavidmills commented on #3930
@prosovskyf looks good to me; thanks!

[2020-12-09 15:53] #3930 closed

[2020-12-09 16:56] shivamrathi99 opened #3952 "Updation in the body and code"
## URL(s)

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/some

## Request type

- [ ] New documentation
- [ * ] Correction or update

## Details

This below text is not clearly justifying the concept of "some" method in an array.

The some() method tests whether at least one element in the array passes the test implemented by the provided function. It retur

[2020-12-09 17:10] shivamrathi99 opened #3953 "Correction"
## URL(s)

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/slice

## Request type

- [ ] New documentation
- [ *] Correction or update

## Details

This code:
The slice() method returns a shallow copy of a portion of an array into a new array object selected from start to end (end not included) where start and end represent the index of items in that array. T

[2020-12-09 17:38] shivamrathi99 opened #3954 "Correction"
## URL(s)

## Request type

- [ ] New documentation
- [x] Correction or update

## Details

[2020-12-09 17:42] #3954 closed

[2020-12-09 18:00] shivamrathi99 opened #3955 "Short tutorial for Array methods in JS"
## URL(s)

## Request type

- [ * ] New documentation
- [ ] Correction or update

## Details

Hi, i just made a short document of the popular and most used array methods in JS. You can add it in the MDN docs, if you like it.

[Array methods.pdf](https://github.com/mdn/sprints/files/5667741/Array.methods.pdf)

Let me know if you like me to add something, or it needs correction.

Thanks.

[2020-12-09 19:35] chrisdavidmills commented on #3955
Thanks for sharing. I don't think we want to put this on MDN — we already have this information on site, albeit it in a different form/structure.

[2020-12-09 19:35] #3955 closed

[2020-12-09 20:31] meatnordrink commented on #3862
Sorry, where would I find the new material? (Doesn't seem like it's on the live page yet?) @prosovskyf
Thanks!

[2020-12-09 21:22] RNabla commented on #3953
Hi,

Just wanted to point out that you can pass any negative value for 'start' and for 'end'. Explicitly stating **An index of (-1) points to the last element of the array.** seems like some magic case where -1 is bound to the end of array.

Usage of negative arguments it's in fact described in Syntax section. However I agree with that it's good idea to mention that briefly in description and add

[2020-12-09 22:53] RNabla commented on #3952
Implementation of **some** does not modify, however provided callback could mutate array and tested objects.
It's possible but it is asking for troubles. In my opinion using **some** should be idempotent - subsequent calls should have return the same test result.

"some does not directly mutate the object on which it is called but the object may be mutated by the calls to callbackfn." -
Taken from

[2020-12-09 23:15] Blade2187 commented on #3915
I happened upon this note, which ended up in my finding it was a recent addition mentioned in this issue discussion.

I disagree; where is that codified as a good practice? The opposite is generally considered good practice, to declare variables close to where they are needed.

[2020-12-10 00:09] quirky23 opened #3956 "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/reduce"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [X ] Correction or update

# Details

There is an extraneous comma in the sentence in the attached screenshot. It should read "To sum up the values contained in an array of objects,..."

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array

[2020-12-10 03:48] Krinkle commented on #3722
There is no replacement for the firing of an event at the exact moment that a user closes a tab or browser. If there is a spec or documentation page that suggested or promised otherwise, then someone should fix that! 🙂

I believe browsers decided years ago that it would be detremental to UX and incompatible with their interaction model, to allow apps to wake up their thread and run code. That's wh

[2020-12-10 06:55] shivamrathi99 commented on #3952
thanks for the explanation @RNabla

[2020-12-10 10:13] chrisdavidmills commented on #3956
Fixed, thanks for reporting.

[2020-12-10 10:13] #3956 closed

[2020-12-10 10:23] chrisdavidmills commented on #3915
I don't think you are in disagreement here — but "scope" here could mean the global scope, or it could mean the top of the part of the code that uses the variables. So the note should maybe be rewritten to make it clearer. Do you fancy having a go at rewriting it, @Blade2187 ?

[2020-12-10 10:46] Rumyra commented on #3902
I'll be adding all the info for this tomorrow... Just one thing: I've created a demo, however it explicitely uses the config object, which has not been implemented yet. see https://wicg.github.io/sanitizer-api/#dictdef-sanitizerconfig (it's optional), so am thinking to hold off adding to demo repo for the moment (basically it doesn't work 😆)

I have documented it however and am happy to add a note

[2020-12-10 11:10] chrisdavidmills commented on #3902
Yeah, just stick to code snippets for now, and add a note explaining that it doesn't work yet.

[2020-12-10 11:32] Rumyra commented on #3902
Temp checklist

- [ ] Kumascript
- [ ] BCD
- [ ] Docs
- [ ] Bug
- [ ] Release notes
- [ ] Experimental

[2020-12-10 12:45] chrisdavidmills commented on #3948
Fixed. Thanks for reporting!

[2020-12-10 12:45] #3948 closed

[2020-12-10 14:39] fpierrat opened #3957 "https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Function/apply"
# Request type
- [x] Correction or update

# Details
Section "Examples", first example
=> definition of a method named "construct()":

`Function.prototype.construct = function (aArgs) {...}`

=> use case: call of a method named "constructor()":
[code]

Either I haven't understood anything at all, or the method which should be called is "construct()":

`var monInstance = MonConstructeur.construct(m

[2020-12-10 23:19] hamishwillee commented on #3915
Bah, I knew I'd have problems with that note. @Blade2187, you're right about what I meant, and yes this is an arguable practice.

I have modified as shown, which I think is probably less of a trigger :-)

![image](https://user-images.githubusercontent.com/5368500/101841198-97ef2780-3b99-11eb-9d73-a9c002e80cbb.png)

[2020-12-11 00:46] hamishwillee commented on #2497
@chrisdavidmills Another good point. Fixed first paragraph to be generic, followed by Firefox specific "example". We could just link to the FF docs on debugging, but I think it is useful to show that things are "really the same".

![image](https://user-images.githubusercontent.com/5368500/101847018-587b0800-3ba6-11eb-87e8-e21db8c25182.png)

Closing as done :-)

[2020-12-11 00:46] #2497 closed

[2020-12-11 07:30] shivamrathi99 opened #3958 "updation"
## URL(s)

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Concepts

## Request type

- [ ] New documentation
- [ * ] Correction or update

## Details

it would look good if you can just run the live demo in another tab instead of on the current working tab of the browser. (use target= _blank or something),
for eg, in one instance
In our simple-sync.html example (**see it ru

[2020-12-11 08:05] rachelandrew commented on #1128
@chrisdavidmills I've reviewed the changes on this, and fixed a typo but looks to be completed.

[2020-12-11 08:06] anatawa12 opened #3959 "Please remove pages in Japanese which is removed in English"
# Request type

- [x] Correction or update

# Details

There are some guide pages that are removed in English and other languages but still exist in Japanese. Please remove those Japanese pages.

Those pages are removed in English and other pages but still be in Japanese.
- [例外処理文](https://developer.mozilla.org/ja/docs/Web/JavaScript/Guide/Exception_Handling_Statements)
  - [try...catch 文](https:/

[2020-12-11 08:15] rachelandrew commented on #3243
@chrisdavidmills I have added information about the specific usage in filters as a third example.

[2020-12-11 08:44] chrisdavidmills commented on #3958
Weeeeell, I can see the utility in this, but at the same time using `target= "_blank"` is generally not seen as a good practice, and it is usually better to give the user control over how they use links in their browser (and you can do Ctrl + click to open in a new tab easily enough). Plus for consistency we'd have to make this change for every demo link on the site. I don't think this is a good u

[2020-12-11 08:44] #3958 closed

[2020-12-11 08:48] chrisdavidmills commented on #1128
Yup, this looks good. Thanks @rachelandrew , and thanks @workingwriter !

[2020-12-11 08:48] #1128 closed

[2020-12-11 09:15] chrisdavidmills opened #3960 "Use of regex global flag in String.prototype.replace method example"
@185driver commented on [Fri Dec 11 2020](https://github.com/mdn/kuma/issues/7675)

# Content Issue

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# URL of page you are seeing the problem on:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace

# Details

In line

[2020-12-11 09:51] chrisdavidmills commented on #3959
@anatawa12 deleted. Thank you for reporting this.

[2020-12-11 09:51] #3959 closed

[2020-12-11 09:57] chrisdavidmills commented on #2497
Looks great, cheers!

[2020-12-11 11:51] chrisdavidmills commented on #3243
@rachelandrew sorry Rachel, I'm getting a bit confused. Which page have you added that third example to?

[2020-12-11 12:43] rachelandrew commented on #3243
@chrisdavidmills ah ... I added it to the page for the data type, as we also have a page for the <url> data type, which is essentially the same thing: https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/url

https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/url() is correctly defined here as a function.

I don't think we need both of these pages.

[2020-12-11 13:02] chrisdavidmills commented on #3243
Ah, I see.

Yeah, I agree. It is just confusing as is. Although saying that, both pages have some useful content on them. Can you add all the useful content into `/url()`, and then we'll redirect the `/url` page to that? I think `url()` is the more likely thing for developers to identify with than `<url>`.

[2020-12-11 13:28] rachelandrew commented on #2162
@chrisdavidmills I've added a page for path() https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/path() which is defined in CSS Shapes. I wasn't sure what you meant about animation though.

[2020-12-11 14:13] chrisdavidmills commented on #2162
I'm not sure what's meant to mean either ;-)

It would be nice to have a slightly more complete example, something working/live.

[2020-12-11 14:19] rachelandrew commented on #3243
OK, everything that wasn't covered is now part of https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/url()

[2020-12-11 14:22] rachelandrew commented on #2001
@chrisdavidmills so I've refactored that Types page to remove the index and do a more useful listing of commonly used Types: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Types There are more that could be added, but I've linked p all the ones we do have documented already. I think I wrote a few pages when I did the work on Values and Units a while back.

[2020-12-11 14:55] chrisdavidmills commented on #3243
Looks great @rachelandrew , thanks! And I've put the redirect in place. So I think we can close this now.

[2020-12-11 14:55] #3243 closed

[2020-12-11 15:21] chrisdavidmills commented on #2001
This is looking really good, thanks @rachelandrew . I've given it a bit of a copy edit. The only thing I'd like to see you do now is put in a link to the actual spec document wherever you include a spec name. After that, I think we can call this one done.

[2020-12-11 16:14] rachelandrew commented on #2001
@chrisdavidmills I've just linked those specs up.

[2020-12-11 16:33] chrisdavidmills commented on #2001
Perfect, I think we can close this one now?

[2020-12-11 16:33] #2001 closed

[2020-12-12 17:33] mattiapontonio opened #3961 "mdn / svg-repository"
Should We create a repository for designers that only use Adobe Illustrator but can export in SVG and push via GitHub desktop for Mac 🤔

_Originally posted by @mattiapontonio in https://github.com/mdn/yari/issues/2064#issuecomment-743788578_

[2020-12-12 21:33] mattiapontonio opened #3962 "Remove ul and ol from examples"
## URL(s)
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav

## Request type

- [ ] New documentation
- [X] Correction or update

## Details
### Result
![Screenshot_20201212-223036.png](https://user-images.githubusercontent.com/44380480/101995435-121ec980-3cca-11eb-91ff-bf3e0fc0ce70.png)

[2020-12-12 21:42] mattiapontonio opened #3963 "Remove ul and ol from the recipe"
## URL(s)
https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Pagination

## Request type

- [ ] New documentation
- [X] Correction or update

## Details
leave only

[code]
![Screenshot_20201212-224022.png](https://user-images.githubusercontent.com/44380480/101995591-43e46000-3ccb-11eb-8fd4-2679761616bb.png)

### Bonus
Unset hrefs

[2020-12-13 00:07] tlebon opened #3964 "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The 'iteration' row of the table comparing objects and maps has an issue for objects. It reads:

not necessarily true. In the same way maps are iterable with a for..of loop, so are objects with the for ...in, as of ES6.
source: https:/

[2020-12-13 03:03] custs21113 opened #3965 "https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Promise/all"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

I found **an editorial error**.
“The  Promise.all () method takes an **iterable** of promises as an input, and returns a single Promise that resolves to an array of the results of the input promises.”
This sentence is Iterable in the o

[2020-12-13 09:28] chrisdavidmills commented on #3962
Nah. Even though it might seem like "too much markup", the examples are showing lists of links, so using a list is a semantic improvement on just multiple anchor elements.

[2020-12-13 11:18] mattiapontonio commented on #3962
@chrisdavidmills

It could be argued that a list should be arranged vertically perhaps with dots that identify an element on the total or a number if the order is important.

![Screenshot_20201213-121739.png](https://user-images.githubusercontent.com/44380480/102010256-42ec1680-3d3d-11eb-96ab-9fa6c324317d.png)

🙂

[2020-12-13 22:19] hamishwillee commented on #1283
FYI, BCD updates. I removed the "hidden" on the compat table as this is now merged https://github.com/mdn/browser-compat-data/pull/7367 . Right now BCD has not updated but it will, and I don't want to forget!

[2020-12-13 22:22] hamishwillee commented on #3965
Hi,
Generally speaking the MDN team do not have bandwidth to fix translations (in this case I did). In future please free to edit the page and fix these things yourself!

[2020-12-13 22:22] #3965 closed

[2020-12-13 22:56] hamishwillee commented on #3964
Thanks! I updated the section as shown:

The for...in statement iterates over all enumerable properties of an object that are keyed by strings (ignoring ones keyed by Symbols), including inherited enumerable properties.

[2020-12-13 23:01] tlebon commented on #3964
seems nice to me.

[2020-12-13 23:01] #3964 closed

[2020-12-14 09:17] rachelandrew commented on #3963
@mattiapontonio it would be invalid HTML to have a `li` without an `ul`, `ol` or `menu` (https://html.spec.whatwg.org/multipage/grouping-content.html#the-li-element). Marking up navigation using a list is seen as good practice (https://www.w3.org/WAI/tutorials/menus/structure/)

[2020-12-14 10:33] mattiapontonio commented on #3963
I believe the nav is horizontal and the list is vertical with dots. That's what got me thinking. I see many examples with lists but maybe in fact the nav is meant to be horizontal and maybe it's not the menu that could be called index like in books if it were vertical and stay in index.html if we wanted to go further.

[2020-12-14 10:34] mattiapontonio commented on #3963
Even more strange is to use a bulleted list and then remove the fact of being a list and the dots, it seems a contradiction to me.

[2020-12-14 10:38] mattiapontonio commented on #3963
Besides this recipe then in the end wants a horizontal nav so you could just use a nav and a.

[2020-12-14 12:28] ap-r opened #3966 "Problem with rendering HTML code"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x ] Correction or update

# Details

I have encountered a strange problem. I was on page: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
and the HTML code was shown with broken tags. All closing tags were wrong. Instead of "`...

[2020-12-14 13:42] jomole opened #3967 "Firefox drops Yahoo mail every night, requires a complete reboot"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [x] New documentation
- [ ] Correction or update

# Details

[2020-12-14 14:08] rachelandrew commented on #3963
The HTML elements only have bullets and so on because this is the default styling for a list in HTML. You then use CSS to make it look the way you would like it to look by changing those styles.

As explained in the second of the articles I linked, a list is a sensible choice for navigation as it gives the links some structure. This is needed if your visitor is using a screenreader for example and

[2020-12-14 17:04] mattiapontonio commented on #3963
At least you should color it (the code) and format it better. Then you see what there is to remove if there is to remove. I honestly don't know how screenreaders would work with my solution. However, I have seen that a relevant URL proposes the list.

[2020-12-14 17:15] mattiapontonio opened #3968 "Change cookbook url"
## URL(s)
### Example
https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Pagination

## Request type

- [ ] New documentation
- [X] Correction or update

## Details
I really like the term recipe book which conceptually conveys the idea. Could you change the url to make it more concise?

### from
`/docs/Web/CSS/Layout_cookbook/Pagination`

### to
`/docs/web/CSS/cookbook/pagination`

[2020-12-14 23:19] mattiapontonio opened #3969 "Please do a recipe for responsive tables"
![Screenshot_20201215-001911.png](https://user-images.githubusercontent.com/44380480/102147564-3d8cea00-3e6b-11eb-8a24-2754e6580f7e.png)

    https://developer.mozilla.org/en-US/search?q=responsive+tables

[2020-12-15 03:41] hamishwillee commented on #1736
Fixed by https://github.com/mdn/content/pull/211

[2020-12-15 03:41] #1736 closed

[2020-12-15 06:34] rachelandrew opened #3970 "Update the linter to deal with missing BCD for completely unimplemented features"
We have an issue in the CSS docs where some specs with broad implementation have a few properties unimplemented. If we don't document them there it's hard for developers to understand their status, however we don't want completely unimplemented properties in BCD even if in a stable spec.

Leaving no BCD means that the linter complains. I'd like to be able to have a way to indicate that there is no

[2020-12-16 10:54] rachelandrew commented on #3435
@chrisdavidmills I have an open PR for this https://github.com/mdn/content/pull/286 I thought you had said we could merge our own PRs but don't think that is the case, or I'm failing to GitHub.

I did the other half pre-code freeze in the wiki. This was much faster.

[2020-12-16 10:56] #3435 closed

[2020-12-16 10:58] chrisdavidmills commented on #3435
Nice one Rachel, thanks! Yes, you should be able to self-merge. I don't know what is going wrong here.

[2020-12-16 11:02] rachelandrew commented on #3922
@chrisdavidmills this now shows up on the page so can probably be closed.

[2020-12-16 11:15] vortrefflich opened #3971 "Description in "Math.floor()" function: Wrong words in Korean"
# Request type
- [ ] New documentation
- [x] Correction or update

# Details

 **Description about Math.floor() in Korean:
  "Math.floor() 함수는 주어진 숫자와 같거나 작은 정수 중에서 가장 큰 수를 반환합니다."**

It was totally wrong.
**It means "The Math.floor() function returns the largest number which is an integer less than given number or equal to a given number." in English.**
The sentence should be replaced with :
   "

[2020-12-16 11:17] Rumyra commented on #3902
Vinyl is on BCD for this one - I'll update as per 👍

[2020-12-16 11:34] chrisdavidmills commented on #3922
Great stuff, thanks for the note.

[2020-12-16 11:34] #3922 closed

[2020-12-16 18:22] chrisdavidmills commented on #3904
BCD merged

[2020-12-16 18:22] #3904 closed

[2020-12-16 18:23] chrisdavidmills commented on #3899
BCD reviewed, merged, and closing. Cheers @Rumyra !

[2020-12-16 18:23] #3899 closed

[2020-12-16 18:29] chrisdavidmills commented on #3902
Thanks @Rumyra , looking good so far.

[2020-12-17 23:26] hamishwillee commented on #3971
@vortrefflich Could you create a PR for this and link here? The MDN don't have bandwidth (or translation skills) to maintain translations.

[2020-12-20 14:02] Rabios opened #3972 "Page "WebGL best practices" source codes not highlighted!"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

Yep and again, As it's my favorite work to find pages with non-highlighted code...

https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/WebGL_best_practices

[2020-12-20 14:53] MendyBerger commented on #3972
Have an existing PR for this mdn/content/pull/132 ;)

[2020-12-20 15:11] MendyBerger commented on #3960
I think a few more changes would make sense:
* The string example should probably be before the regex example, as I assume most people coming to this page are more interested in the string replacement.
* The `/g` global flag in the `replaceAll` example is redundant as global search is what `replaceAll` is all about.

Hope you don't mind me chiming in :)

[2020-12-20 15:33] MendyBerger commented on #3950
As pointed out by @bbrown-spsu this is because of an `await` that is not in an `async` function.

What is the general rule when it come's to cases like this? Do we wrap it with an `async` [iife](https://developer.mozilla.org/en-US/docs/Glossary/IIFE) (would probably bloat the code samples)? Do we assume that users will understand that they have to put it in an `async` function? Any other options?

[2020-12-20 15:44] bbrown-spsu commented on #3950
A couple of thoughts...

1. "Assume users will understand..." is fraught with possibilities for badness.  People come to the examples because they **do not** understand.
2. Bloated examples are better than obscure examples for the reason given above.

I think the very minimum change would be a comment before the call: // The code below must itself be within an async function.  Better would be a re

[2020-12-20 16:26] Rabios commented on #3972
@MendyBerger Nice!

[2020-12-20 20:56] ExE-Boss opened #3973 "Move issues #1695 and #1694 back into the mdn/sprints or mdn/data repo"
@Elchi3 moved issues [#1695](https://github.com/mdn/sprints/issues/1695) and [#1694](https://github.com/mdn/sprints/issues/1694) from here into [mdn/kumascript#1378](https://github.com/mdn/kumascript/issues/1378) and [mdn/kumascript#1379](https://github.com/mdn/kumascript/issues/1379), but they should’ve been kept here (or moved to [**@mdn/data**](https://github.com/mdn/data)), because mdn/kumascr

[2020-12-21 08:08] chrisdavidmills commented on #3950
I would be happy for you to fix them up so they are runnable at a basic level. I agree with @bbrown-spsu here, and async/await is still fairly new.

[2020-12-21 08:09] chrisdavidmills commented on #3960
Assigned; cheers @MendyBerger !

[2020-12-21 09:24] Elchi3 commented on #3973
Hey @ExE-Boss good to here from you again!
I guess alternatively we can always file new issues and refer to old / archived ones as needed. I don't seem to be able to move this back.

[2020-12-21 11:59] ExE-Boss commented on #3973
The [**@mdn/kumascript**](https://github.com/mdn/kumascript) repository would need to be temporarily un‑archived.

[2020-12-21 14:39] clinejj opened #3974 "Broken Link/Missing ARIA Guide for Managing Modal and Non-modal Dialogs"
## URL(s)
https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/dialog_role
https://developer.mozilla.org/en-US/docs/ARIA/ARIA_Guides/Managing_Modal_and_Non_Modal_Dialogs

## Request type
- [ ] New documentation
- [x] Correction or update

## Details
The link to "Managing Modal and Non Modal Dialogs" (https://developer.mozilla.org/en-US/docs/ARIA/ARIA_Guides/Managing_Modal_and_Non_

[2020-12-21 16:13] rachelandrew commented on #3745
The example explains that it sets a height. The height of the flex container can be defined by a height, or by the tallest item. Both are valid and it means that it is easier to see the difference caused by the different alignment methods. The text makes it clear that a height has been set.

In the PR linked above I've changed the text above to mention that the height can be dictated by the talles

[2020-12-21 16:14] #3963 closed

[2020-12-21 17:05] rachelandrew commented on #3087
The table wrapper box is probably what we are looking for: https://www.w3.org/TR/css-tables-3/#table-wrapper-box

It is described as creating a block formatting context, so I have updated the text and also created a couple of short glossary entries for the table wrapper box and table grid box in the PR linked above.

[2020-12-21 19:44] MendyBerger commented on #3914
Think this can now be closed

[2020-12-21 20:22] #3914 closed

[2020-12-22 11:59] Counserf opened #3975 "frames do not work in the Russian version"
# Request type

- [x] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [ ] Correction or update

# Details

frames do not work in the Russian version

https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Grid_Layout/Relationship_of_Grid_Layout

[2020-12-22 16:11] MendyBerger commented on #3960
Turns out that my point about `replaceAll` together with `/g` being redundant is wrong

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replaceAll#Non-global_regex_throws

[2020-12-27 11:40] ejgutierrez74 opened #3976 "Possible error translation"
# Request type

- [] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [ x] Correction or update

https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Sentencias/throw : Ejemplo: Lanzar un objeto

# Details

try {
   // sentencias para try
   nombreMes = getNombreMes(miMes);
} catch (excepcion) {
   nombreMes = "desconocido";
   re